<td class="id" ng-init="table.rowSerial = table.rowSerial + 1; rowSerial = table.rowSerial">{@ rowSerial @}</td>
<td class="type editable"> {@ translateInstanceType(obj.instance.type) @}</td>
<td class="name editable text-type">{@ obj.instance.name @}</td>
<td class="preferred editable number-type">{@ obj.instance.suggested_hours @}</td>
<td class="allocated editable number-type">{@ obj.instance.hours @}</td>
<td class='schedule-exercise-toggle'>
    <div ng-show="isSupportExercises(obj.instance)" class='btn btn-mini btn-link' ng-click="addExercise(obj.instance)"> + הוסף תרגיל</div>
</td>
<td class='schedule-cuts-toggle'>
    <a ng-show="isSupportExercises(obj.instance)" href="/cuts/{@ obj.instance.id @}/plan" class='btn btn-mini btn-link' >תכנון</a>
    <a ng-show="isSupportExercises(obj.instance)" href="/cuts/{@ obj.instance.id @}/run" class='btn btn-mini btn-link' >הרצה</a>
</td>
