<td></td>
<td class='order'>
    <a ng-hide="obj.ie.order == 1" ng-click="movePriorityUp(obj)" href="#" class='up'>▲</a><!-- MUST HAVE NO SPACES
    --><span ng-show="obj.ie.order == 1" class="unusable-arrow">▲</span>
    <span class="value">{@ obj.ie.order @}</span>
    <a ng-hide="isLastRealInstanceExercise(obj)" ng-click="movePriorityDown(obj)" href="#" class='down'>▼</a><!-- MUST HAVE NO SPACES
    --><span ng-show="isLastRealInstanceExercise(obj)" class="unusable-arrow">▼</span>
</td>
<td class='name'>{@ exercises[obj.ie.exercise_id].name @}</td>
<td></td>
<td></td>
<td class='remove'>
    <a class="btn btn-mini btn-link del" ng-click="deleteInstanceExercise(obj)">X מחק</a>
</td>
