<table class="array-plan">
    <thead>
    <tr>
        <th class="id"></th>
        <th class="type"></th>
        <th class="name"></th>
        <th class="preferred">מומלץ</th>
        <th class="allocated">מוקצה</th>
        <th class='sched'></th>
        <th class="cuts">חיתוכים</th>
    </tr>
    </thead>
    <tbody ng-model="table.rowSerial" ng-init="table.rowSerial=0">
        <!-- table.rowSerial is the number beside the row. We init it as 0
        and ++ it in the row-instance html -->
        <tr ng-repeat="obj in instancesWithExercises"
            class="inst inst-{@ obj.instance.type @}"
            ng-include="getRowTemplateUrl(obj)">
        </tr>
    </tbody>
</table>
