<td></td>
<td></td>
<td>
    <select ng-model="obj.ie.exercise_id" class="mini" ng-options="ex.id as ex.name for ex in array.exercises">
    </select>
</td>
<td><div class='btn btn-mini' ng-click="submitNewInstanceExercise(obj)">שבץ</div></td>
<td></td>
<td class='remove'>
    <a class="btn btn-mini btn-link del" ng-click="deleteInstanceExercise(obj)">X מחק</a>
</td>
