{% extends "includes/staff_base_page.html" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/points.css">
{% endblock %}
{% block window_title %}Points for {{ student.name }}{% endblock %}

{% block page_main %}
<div class="all-points">
  <h1>כל הפוינטים של <a href="/people/{{ student.id }}"><span class="gender-{{ student.gender }}-icon"></span>{{ student.name }}</a></h1>
  {% for point in points | reverse -%}
  <div class='point'>
    {% if point.assignment.exercise %}
    <div class='assignment'><a href="/arrays/{{ point.assignment.exercise.array_id }}/assignments/{{ point.assignment.id }}/review">{{ point.assignment.exercise.name }}</a></div>
    {% endif %}
    {% for message in point.messages -%}
    <div class='message'>
      <div class='who'>{{ message.person.name }}</div>
      <div class='when'><ng-timeago time='"{{ message.created_at }}"'></ng-timeago></div>
      {# The text is not really safe, but by popular demand we allow xss in points #}
      <div class='text'>{{ message.text | safe }}</div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}
