{% extends "includes/base_header.html" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/array-exercise.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/deprecated/calendars.js"></script>
{%- endblock %}
{% block page_title -%}{% endblock %}
{% block page_main %}
    <div class='page-exercise'>
        <header>
            <h1>
                <span>תרגיל - </span>
                <span>{{ exercise.name }}</span>
            </h1>
        </header>
        {% if exercise is has_student_copy %}
            <iframe src="{{ exercise | student_copy }}"></iframe>
        {% else %}
            <h1 class='text-error'>חסר עותק חניך!</h1>
            <a class='btn btn-warning btn-large' href="{{ url_for('ischool.array_exercise_plan_view', arr=array, ex_id=exercise.id) }}">
            תכנן תרגיל והעלה קובץ
            </a>
        {% endif %}
        <h2>
            קבצים נוספים:
            <a class='btn btn-mini' href="{{ url_for('ischool.array_exercise_plan_view', arr=array) }}">תכנן תרגילים</a>
        </h2>

        {% for file in exercise.files -%}
        <div class='extended-files'>
            <span>
                <a href="{{ file | file_url }}">
                    {{ file.hebrew_file_type() }}
                </a>
            </span>
        </div>
        {% endfor %}
    </div>
{% endblock %}
