{% extends "includes/base_array.html" %}
{% set active_tab = 'exercise/plan' %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/array-exercise.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/deprecated/calendars.js"></script>
    <script src="/static/scripts/exercise/exercise-controllers.js"></script>
    {% include 'exercise-modify.html' %}
{%- endblock %}
{% block page_main -%}
    <header>
        <h1>תרגילים</h1>
    </header>
    <div ng-controller="ManageExerciseCtrl" ng-init="arrayId = {{ array.id }}">

        <div class='exercise-list'>
                <div class="exercise" ng-repeat="exercise in exercises">
                    <div class='top'>
                        <div class="pull-right">
                            <a href="" class="icon icon-remove" ng-click="openDeleteExerciseModal(array, exercise.id)" href=""></a>
                        </div>
                        <label class="editable text-type pull-right">{@ exercise.name @}</label>
                        <a class="name" style="margin-right:10px" href="/arrays/{@ arrayId @}/exercise/{@ exercise.id @}"> צפה </a>,
                        <a ng-pluralize count="exercise.num_of_criteria"
                            when="{'0': 'ללא מדדים',
                            'one': 'מדד אחד',
                            'other': '{} מדדים'}"
                            ng-click="openManageExerciseCriteriaModal(exercise)"></a>
                        <div class='pull-left'>
                            <img ng-hide="hasStudentCopy(exercise)" class="ico warning" src="/static/images/icons/warning.png" title='חסר עותק חניך'/>
                            <img class="ico" src="/static/images/icons/check2.png" ng-show="exercise.instance_exercise.length > 0" title="שובץ"/>
                            <img class="ico" src="/static/images/icons/{@ submit_type_icon(exercise) @}.png" title="הגשה: {@ exercise.hebrew_submit_type @}"/>
                            <img class="ico" src="/static/images/icons/pig.png" ng-show="exercise.course_specific" title='ספציפי לקורס'/>
                            
                            <a class='icon icon-pencil' ng-click="openManageExerciseModal(array, exercise.id)" href=""></a>
                            <span class='toggle closed'>
                                כל הקבצים
                                <span>({@ exercise.files.length @})</span>
                            </span>
                        </div>
                    </div>

                    <div class='toggled'>
                        <div class='files-header' ng-show="exercise.files.length > 0">
                            קבצים
                        </div>
                        
                        <div class='extended-files' ng-repeat="file in exercise.files">
                            <span>
                                <a href="{@ file.file_link @}">{@ hebrew_file_type(file) @} - {@ file.file_name @}</a>
                            </span>
                            <form method="post" class="form-inline delete-form" action="{@ '/arrays/' + arrayId + '/exercise/' + exercise.id + '/files/' + file.id @}">
                                <input type="submit" value="מחק" class='btn btn-danger btn-delete btn-mini'/>
                            </form>
                        </div>
                        
                        <div class="one-line-file-uploader">
                            <span>הוסף קובץ</span>
                            <select name='file_type' ng-model="exercise.upload_file_type" ng-init="exercise.upload_file_type = 'master'">
                                <option value="master">עותק מקור</option>
                                <option value="student_copy">עותק חניך</option>
                                <option value="staff_copy">עותק סגל</option>
                                <option value="patbas">פתב"ס</option>
                                <option value="autocheck">בודק אוטמטי</option>
                                <option value="student_attachment">נספחים לתלמיד</option>
                                <option value="staff_attachment">נספחים לסגל</option>
                                <option value="other">אחר</option>
                            </select>
                            <button class="btn btn-primary" ng-file-upload="/arrays/{@ arrayId @}/exercise/{@ exercise.id @}/upload/{@ exercise.upload_file_type @}/"
                                with-filename ng-files-list="exercise.files">
                                    העלה קובץ...
                            </button>
                        </div>
                    </div>
                </div>
        </div>

        <div class='create-new-exercise'>
            <div class="btn toggle" ng-click="openManageExerciseModal(array, null)">תרגיל חדש</div>
        </div>
    </div>
{% endblock %}
