{% extends "includes/base_array.html" %}
{% set active_tab = 'exercise/schedule' %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/array-exercise.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/array/array-exercise-schedule.ctrl.js"></script>

    <script src="/static/scripts/deprecated/array-exercise-plan.js"></script>
    <script src="/static/scripts/deprecated/array-exercise-schedule.js"></script>
{%- endblock %}
{% block page_main %}
    <section ng-controller="ArrayExerciseScheduleCtrl">
        <header>
            <h1>שיבוץ תרגילים</h1>
            <nav class="groups" ng-include="'/static/htmls/partials/groups-nav.html'"></nav>
        </header>
        <article ng-repeat="unit in units | filter:isInGroup" class="edu-unit">
            <h2 class="name editable text-type">{@ unit.name @}</h2>
            <div array-exercise-unit-table></div>
        </article>
{#        {%- set orphan_instances = array.orphan_instances -%}#}
{#        {% if orphan_instances %}#}
            <article class="edu-unit">
                <h2 class="name">מופעים ללא יחידת לימוד</h2>
{#                {{ instances_table(orphan_instances, array, group, -1) }}#}
            </article>
{#        {% endif %}#}
    </section>

{% endblock %}
