{% extends 'includes/staff_base_page.html' %}
{% block window_title %}מערכים{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/arrays.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dropdown.css">
{% endblock %}
{% block page_end_javascripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/scripts/array/array-controllers.js"></script>
{% endblock %}
{% block page_title_text %}
        <h4><span ng-bind-html="course | course_link:true | safe"></span> &raquo;</h4>
        <h1>מערכים</h1>
{% endblock %}
{% block page_main %}

    <article class="array-list-page" ng-init="modes = {
                active: {text: 'מערכים פעילים', filter: {is_archived: false}},
                archived: {text: 'ארכיון', filter: {is_archived: true}}
            }">

        <div ng-controller="ArrayListCtrl">
    <div class="pull-left">

      <select class="btn btn-small btn-mini btn-inverse ischool-select" name='track' class="track" ng-options="track.name for track in tracks | orderBy: ['-name']:true" ng-change="updateTrack(firstTrack)" ng-model="firstTrack">

        </select>

    </div>

            <div class="pagination-centered">
                <a ng-repeat="mode in modes" href class="btn btn-small btn-mini btn-inverse set-mode"
                   ng-class="currentMode == mode ? 'disabled' : ''"
                   ng-click="setCurrentMode(mode)">{@ mode.text @}</a>
            </div>
            <ul class="track-list">
                <li ng-repeat="track in tracks | orderBy:[isFirstTrack, '-name']:true">
                    <h3>{@ track.name @}</h3>
                    <ul class="array-list">
                        <li ng-repeat="array in (arrays | smartFilter:currentMode.filter | smartFilter:{track_id: track.id} | orderBy:'name') track by array.id"
                            class="array status-{@ currentMode.name @}" ng-powertip>
                            <a href="/arrays/{@ array.id @}">{@ array.name @}</a>
                            <ng-actions>
                                <ul class="ltr">
                                    <li class="icon-inbox" ng-show="currentMode == modes['active']">
                                        <button title="העבר לארכיון" ng-click="setArrayIsArchived(array, true)"></button>
                                    </li>
                                    <li class="icon-repeat" ng-show="currentMode == modes['archived']">
                                        <button title="הוצא מארכיון" ng-click="setArrayIsArchived(array, false)"></button>
                                    </li>
                                </ul>
                            </ng-actions>
                            <a class="to-matrix" href="/arrays/{@ array.id @}/matrix">למטריצה</a>
                        </li>
                    </ul>
                </li>
                <div ng-controller="ManageArrayCtrl">

                    {% include 'array-modify.html' %}
                    <li class="create-new">
                        <button class="btn btn-small btn-info" ng-click="openManageArrayModal(null)">מערך חדש נולד</button>
                    </li>
                </div>
            </ul>
        </div>
    </article>
{% endblock %}
