{% extends "includes/base_array.html" %}
{% set active_tab='run' %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/array-run.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/instance/instance-controllers.js"></script>
    <script src="/static/scripts/instance/instance-filters.js"></script>
{%- endblock %}
{% block page_main %}
    <section ng-controller="InstanceListCtrl">
	<header>
		<h1>מופעים</h1>
		<nav class="groups" ng-include="'/static/htmls/partials/groups-nav.html'"></nav>
	</header>
    <div ng-repeat="(week_num, insts) in instances_by_weeks track by week_num">
        <ol class="weeks" ng-include="'/static/htmls/partials/weekly-instances.html'"
                onload="header = 'שבוע ' + week_num; show_time = true"
                ng-if="week_num != 'null'"></ol>
        <ol class="weeks" ng-include="'/static/htmls/partials/weekly-instances.html'"
                onload="header = 'לא משובצים'; show_time = false"
                ng-if="week_num == 'null'"></ol>
    </div>
    </section>
{% endblock %}
