{% extends "includes/base_array.html" %}
{% from 'includes/api_macros.html' import editable_mock_element %}
{% set active_tab = 'plan' %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/instance/instance-controllers.js"></script>
    <script src="/static/scripts/instance/instance-filters.js"></script>
    <script src="/static/scripts/vendor/jquery.multisortable.js"></script>
{%- endblock %}
{% block page_main %}
    <section ng-controller="InstanceListCtrl">
        <header>
            <h1>מופעים</h1>
            <nav class="groups" ng-include="'/static/htmls/partials/groups-nav.html'"></nav>
            <button ng-if="showAddButton !== false" class="add-new-btn" ng-click="createGroup(array)">הוספת קבוצה</button>
        </header> {### TODO: implement this code using angular
        {% with dates = array.get_all_dates(group) -%}
        {%- if dates -%}
        {%- set is_multi_year = (dates[0].year != dates[-1].year) -%}
        <ol class="calendars">
            {% for month in dates|groupby('month')|sort -%}
                <li class="template" data-month="{{ month.list[0].year }}-{{ month.grouper }}" data-mark="{{ month.list|dates_days|join(',') }}" data-week-num="{{ month.list[0]|get_month_weeknum(array.course) }}"></li>
            {% endfor %}
        </ol>
        {%- endif -%}
        {%- endwith %} ###}
        <span>טיפ: ניתן לערוך את סדר המופעים על ידי גרירה. לחץ/צי על Ctrl / Shift כדי לגרור מספר מופעים יחד.</span>
        <table class="total-table">
            <tr>
                <th></th>
                <th class="preferred">מומלץ</th>
                <th class="allocated">מוקצה</th>
            </tr>
            <tr>
                <td>סה"כ במערך: </td>
                <td class="preferred">{@ instances | total_suggested_hours @}</td>
                <td class="allocated">{@ instances | total_hours @}</td>
            </tr>
        </table>
        <article ng-repeat="unit in (units | filter:isInGroup | orderBy:'order') track by unit.id" class="edu-unit" ng-editable-model="unit">
            <h2 class="name text-type" ng-powertip>
                <span ng-editable="unit.name"></span>
                <ng-actions>
                    <ul class="ltr">
                        <li class="up" ng-hide="false">
                            <button title="הזז למעלה" ng-click="reorderUnit(unit, -1)">▲</button>
                        </li>
                        <li class="down" ng-hide="false">
                            <button title="הזז למטה" ng-click="reorderUnit(unit, +1)">▼</button>
                        </li>
                        <li class="destroy">
                            <button title="מחק!" ng-click="removeUnit(unit)"></button>
                        </li>
                    </ul>
                </ng-actions>
            </h2>
            <div ng-include="'/static/htmls/partials/instances-table.html'"></div>
        </article>
        <br/>
        <button class="add-new-btn" ng-click="createNewUnit()">צור יחידת לימוד חדשה...</button>
    </section>
{% endblock %}
