<script type="text/ng-template" id="manageArrayModal.html">
    <form ng-submit="manageArray()">
        <div class="modal-header">
            <h3 ng-if="modifiedArray == null">יצירת מערך חדש</h3>
            <h3 ng-if="modifiedArray != null">שינוי מערך קיים</h3>
        </div>
        <div class="modal-body">
            <table class="edit-array">
                <tbody>
                    <tr>
                        <td>
                            <p>
                                <label for="array_name">שם המערך:</label>
                                <input type="text" ng-model="array_name" id="array_name" required />
                            <p>
                                <label for="track_name">שייך למגמה:</label>
                                <select name='track' class="track" ng-options="track.id as track.name for track in all_tracks" ng-model="trackId" required>
                                        <Option value="" disabled>בחר מסלול</Option>
                                </select>
                              <p>
                            <p>
                                <label for="manager">אחראי מערך:</label>
                                <select name="manager" class="manager" ng-options="manager.id as manager.name for manager in all_managers" ng-model="managerId" required>
                                        <Option value="" disabled>בחר אחראי</Option>
                                </select>
                            <p>
                            <section ng-if="modifiedArray == null"><i>זה יצור מערך חדש וריק מאפס, ונועד למצב שנכנס חומר חדש לקורס. <br/>
                                במידה והנושא עבר כבר בעבר בקורסים קודמים, עדיף ללכת לעמוד של המערך הקודם ולשכפל אותו משם.
                            </i></section>
                        </td>
                        <td ng-if="modifiedArray != null">
                            <h3>מדדים
                            </h3>
                            <table ng-controller="ManageArrayCriterionCtrl">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div ng-repeat="criterion in criteria">
                                                <p>
                                                    <b>{@ criterion.name @}</b>
                                                    <a href="#" class="icon icon-pencil" ng-click="openManageArrayCriterionModal(modifiedArray, criterion)" />
                                                    <a href="#" class="icon icon-remove" ng-click="openDeleteArrayCriterionModal(modifiedArray, criterion)" />
                                                    <p>
                                                    <a role="button" class="btn" popover="{@ criterion.low_score_description @}">1</a>
                                                    <a role="button" class="btn" popover="{@ criterion.middle_score_description @}">3</a>
                                                    <a role="button" class="btn" popover="{@ criterion.high_score_description @}">5</a>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="add-criterion">
                                                <a href="#" role="button" class="btn btn-default" ng-click="openManageArrayCriterionModal(modifiedArray, null)" title="">הוסף מדד</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>

<script type="text/ng-template" id="manageArrayCriterionModal.html">
    <form ng-submit="manageCriterion()">
        <div class="modal-header">
            <h3 ng-if="modifiedCriterion == null">יצירת מדד</h3>
            <h3 ng-if="modifiedCriterion != null">עריכת מדד</h3>
        </div>
        <div class="modal-body">
            <p>
                <label><b>שם המדד:</b></label>
                <input type="text" ng-model="criterionName" id="criterionName" required />
            <p>
                <label>הקריטריון לציון נמוך:</label>
                <textarea type="text" ng-model="lowScoreDescription" id="lowScoreDescription" required />
            <p>
                <label>הקריטריון לציון בינוני:</label>
                <textarea type="text" ng-model="middleScoreDescription" id="middleScoreDescription" required />
            <p>
                <label>הקריטריון לציון גבוה:</label>
                <textarea type="text" ng-model="highScoreDescription" id="highScoreDescription" required />
            <p>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>

<script type="text/ng-template" id="deleteArrayCriterionModal.html">
    <form ng-submit="deleteCriterion()">
        <div class="modal-header">
            <h3>מחיקת מדד</h3>
        </div>
        <div class="modal-body">
            <b>האם אתה בטוח שברצונך למחוק את המדד "{@ criterionName @}"?</b>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>
