{% extends "includes/student_base_page.html" %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/assignment.css">
    <style>
        #toArraysBtn {
            display: none;
        }
    </style>
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/vendor/bootstrap.min.js"></script>
{%- endblock %}
{% block page_main %}
    <div class="assignment" ng-controller="StudentAssignmentCtrl" ng-init="personId = {{ g.person.id }}">
        <div ng-if="assignment">
            <h2>{@ assignment.name @} ({@ state_to_hebrew(assignment.state) @})</h2>
            <div ng-if="assignment.submissions.length">
                <a class="clickable" data-toggle="collapse" data-target="#student-history">הצג \ הסתר היסטוריית הגשה</a>
                <div id="student-history" class="collapse in">
                    <table class="table table-striped">
                        <thead>
                        <td>גרסה</td>
                        <td>זמן הגשה</td>
                        <td ng-if="assignment.submit_type == 'files'">הורדה</td>
                        <td ng-if="assignment.submit_type == 'svn'">נתיב</td>
                        <td>הערות</td>
                        <td>תרגיל בדוק</td>
                        </thead>
                        <tr ng-repeat="sub in assignment.submissions | orderBy:sub.id">
                            <td>{@ $index + 1 @}</td>
                            <td><ng-timeago time="sub.created_at"></ng-timeago></td>
                            <td ng-if="assignment.submit_type == 'files'"><a href="{@ sub.url @}">הורד</a></td>
                            <td ng-if="assignment.submit_type == 'svn'">{@ sub.url @}</td>
                            <td class="pre-text">{@ sub.comments @}</td>
                            <td><a ng-if="sub.review_file" href="{@ sub.review_file @}">הורד</a></td>
                        </tr>

                        <tr ng-if="!assignment.is_read">
                            <td><a class='btn btn-primary' ng-click="markAsRead()"/>סמן כנקרא</td>
                        </tr>
                    </table>
                </div>
            </div>
            <iframe ng-if="is_pdf(assignment.file)" src="{@ assignment.file @}"></iframe>
            <div ng-if="assignment.file">
                <a href="{@ assignment.file @}">הורד תרגיל</a>
            </div>
            <div ng-if="assignment.attachment">
                <a href="{@ assignment.attachment @}">הורד נספחים</a>
            </div>
            <div class="done" ng-if="assignment.state =='done'">סיימת!</div>
            <div ng-if="(assignment.state =='in_progress' || assignment.state =='resend')">
                <form enctype="multipart/form-data" action="{@ assignment.submit_url @}" method="POST" class="form-inline new-ex-form">
                    <input type="hidden" name="room_id" value="{@ selectedRoomId @}" />
                    <span ng-if="assignment.submit_type == 'files'">
                        <span>הגשה:</span>
                        <input type="file" name="file"/>
                        <input type='submit' value="שלח" class='btn btn-primary'/>
                    </span>
                    <span ng-if="assignment.submit_type == 'ok'">
                        <input type='submit' value="אישור" class='btn btn-primary' />
                    </span>
                    <span ng-if="assignment.submit_type == 'svn'">
                        <span>נתיב במערכת ניהול גרסאות:</span>
                        <input type="text" name="svn" autocomplete="off" />
                        <input type='submit' value="שלח" class='btn btn-primary'/>
                    </span>
                </form>
            </div>
        </div>
        <div ng-if="!assignment">
            ברוך הבא ל{{ course.name }}!
        </div>
    </div>
{% endblock %}
