{% if checker %}
    {% extends "includes/checker_base_page.html" %}
{% else %}
    {% extends "includes/base_array.html" %}
    {% set active_tab = 'matrix' %}
{%  endif %}
{% block window_title %}{{ assignment.person.name }} - {{ assignment.exercise.name }}{%- endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/assignment-review.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/vendor/bootstrap.min.js"></script>
    <script src="/static/scripts/review/assignment_review.js"></script>
{%- endblock %}
{% block page_main %}
<div class="assignment-review" data-assignment-id="{{ assignment.id }}">
    <h2>
        פתרונות ל<a href="/arrays/{{ assignment.exercise.array.id }}/exercise/{{ assignment.exercise.id }}" target="_blank">{{ assignment.exercise.name }}</a>{% if not checker %} של <a href="/people/{{ assignment.person.id }}" target="_blank"><span class="gender-{{ assignment.person.gender }}-icon"></span>{{ assignment.person.name }}</a>{% endif %}
        {% if checker %} של <span class="gender-{{ assignment.person.gender }}-icon"></span>חני{% if (assignment.person.gender == 'male') %}ך{% else %}כה{% endif %} מס' {{ assignment.person.id }}{% endif %}
        <span class="label {% if assignment.state == 'done' %}label-success{% elif assignment.state == 'resend' %}label-important{% else %}label-warning{% endif %}">{{ assignment.hebrew_state }}</span>
    </h2>
    {% with submit_type = assignment.exercise.submit_type %}
    <table class="table table-striped">
        <thead>
            <td>גרסה</td>
            <td>זמן הגשה</td>
            <td>הורדה</td>
            <td>בודק</td>
            <td>זמן בדיקה</td>
            <td>הערות לסגל</td>
            <td>הערות לחניך</td>
            <td>תרגיל בדוק</td>
        </thead>
        {% for sub in assignment.submissions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><ng-timeago time='"{{ sub.created_at }}"'></ng-timeago></td>
            {%- if submit_type == 'files' -%}
            <td><a href="{{ url_for('ischool.download_submission_file', submission_id = sub.id) }}">הורד</a></td>
            {%  elif submit_type == 'svn' %}
            <td><a href="{{ url_for('ischool.get_submission_svn', submission_id = sub.id) }}">svn</a></td>
            {%  else %}
            <td></td>
            {%- endif -%}
            {%- if sub.review -%}
                <td>{{ sub.review.reviewer.name }}</td>
                <td><ng-timeago time='"{{ sub.review.reviewed_at }}"'></ng-timeago></td>
                <td class="pre-text">{{ sub.review.comment_for_staff }}</td>
                <td class="pre-text">{{ sub.review.comment_for_student }}</td>
                {%  if sub is have_review_file %}
                <td><a href="{{ url_for('ischool.download_submission_review_file', submission_id=sub.id) }}">הורד</a></td>
                {% else %}
                <td>None</td>
                {%  endif %}
            {%  else %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            {%  endif %}
        </tr>
        {% endfor %}
    </table>
    <div class="bottom-menu">
        {%- if assignment.submissions|length > 0 -%}
            {%- if submit_type == 'files' -%}
            <div><a href="{{ url_for('ischool.download_submission_file', submission_id = assignment.last_submission().id) }}">הורד פתרון אחרון</a></div>
            {%- endif -%}
            {%- if assignment.last_submission().lock -%}
            <div class="js-locked-by">
                נעול על ידי {{ assignment.last_submission().lock.locker.name }} <ng-timeago time='"{{ assignment.last_submission().lock.locked_at }}"'></ng-timeago>
            </div>
            {%- endif -%}
            <div class="js-stop-checking {% if assignment.state != 'checking' %}hide{% endif %}"><a class="btn btn-delete" href="#">בטל נעילה</a></div>
            <div class="js-send-check {% if assignment.state != 'checking' %}hide{% endif %}"><a href="#check-modal" class="btn btn-success" data-toggle="modal">הזן בדיקה</a></div>
            <div class="js-resend-no-review {% if assignment.state != 'checking' %}hide{% endif %}"><a class="btn btn-danger" href="#">שלח לביצוע מחדש ללא בדיקה</a></div>
            <div class="js-start-checking {% if assignment.state == 'checking' or assignment.state == 'in_progress' %}hide{% endif %}"><a class="btn btn-info" href="#">התחל לבדוק</a></div>
        {%- endif -%}
    </div>
    <div id="check-modal" class="modal hide fade" ng-controller="SubmitReviewCtrl" ng-init="init({{ assignment.id }}, {{ assignment.exercise.id }})">
        <div class="modal-header">
            {#        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
            <h3>הערות לתרגיל <a href="/arrays/{{ assignment.exercise.array.id }}/exercise/{{ assignment.exercise.id }}" target="_blank">{{ assignment.exercise.name }}</a>{% if not checker %} של <a href="/people/{{ assignment.person.id }}" target="_blank"><span class="gender-{{ assignment.person.gender }}-icon"></span>{{ assignment.person.name }}</a>{% endif %}
        {% if checker %} של <span class="gender-{{ assignment.person.gender }}-icon"></span>חני{% if (assignment.person.gender == 'male') %}ך{% else %}כה{% endif %} מס' {{ assignment.person.id }}{% endif %}</h3>
        </div>
        <div class="modal-body">
            <div>
                <table id="submission-review-table">
                    <tr id="student-review-section">
                        <td>
                            <h4>הערות לחניך</h4>
                            <textarea ng-model="commentForStudent" class="js-comment-for-student"></textarea>
                            <form id="form" enctype="multipart/form-data" action="{{ url_for('ischool.submit_assignment_review_file', array_id=assignment.exercise.array_id, assignment_id=assignment.id) }}" method="POST" class="form-inline new-ex-form">
                                    <span>העלאת קובץ עם הערות לחניך</span>
                                    <input type="file" name="file"/>
                             </form>
                        </td>
                    </tr>
                    <tr id="staff-review-section">
                        <td>
                            <h4>הערות לסגל</h4>
                            <textarea ng-model="commentForStaff" class="js-comment-for-staff"></textarea>
                            <h4>מדדים</h4>
                            <div>
                                {% for criterion in assignment.exercise.criteria %}
                                    {{ criterion.name }}
                                    <a popover="{{ criterion.low_score_description }}" href="">1</a>
                                    <a popover="{{ criterion.middle_score_description }}" href="">3</a>
                                    <a popover="{{ criterion.high_score_description }}" href="">5</a>
                                    <div>
                                        <rating value="scores[{{ criterion.id }}][0]" max="maxScore" readonly="isReadonly" on-hover="hoveringOver(value, {{ criterion.id }})" on-leave="overStar[{{ criterion.id }}] = null"></rating>
                                        <span class="label" ng-class="{'label-warning': values[{{ criterion.id }}]<2, 'label-info': values[{{ criterion.id }}]>=2 && values[{{ criterion.id }}]<4, 'label-success': values[{{ criterion.id }}]>=4}" ng-show="overStar[{{ criterion.id }}] && !isReadonly">ציון {@ values[{{ criterion.id }}] @}</span>
                                    </div>
                                    <div>
                                        <textarea ng-model="scores[{{ criterion.id }}][1]"></textarea>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">ביטול</a>
            <a href="#" class="btn btn-success" ng-click="submitReview('done')">סמן כבוצע</a>
            <a href="#" class="btn btn-danger" ng-click="submitReview('resend')">שלח לביצוע מחדש</a>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock %}
