{% extends 'includes/base_header.html' %}

{% block window_title %}שינוי סיסמה{% endblock %}

{% block page_end_javascripts %}
    <script type="text/javascript" src="/static/scripts/user/user-controllers.js"></script>
    <script type="text/javascript" src="/static/scripts/user/user-services.js"></script>
{% endblock %}
{% block page_init %}personId = {{ g.person.id }}{% endblock %}
{% block page_title_text -%}
    <h1>
שינוי סיסמה
    </h1>
{%- endblock %}

{% block page_main %}
    <form name="changPassForm" method="POST" ng-controller="ChangePassCtrl"
            ng-submit="performChange()">
        <label for="loginPassword" class="help-block">סיסמה:</label>
            <div>
                <input type="password" name="password" ng-model="password" class="input-medium" required
                         autocomplete="off" />
                <span class="text-error"
                      ng-show="password.$dirty && password.$error.required">אנא מלא סיסמה</span>
            </div>
        <br><br>
        <label for="newPassword" class="help-block">סיסמה חדשה:</label>
            <div>
                <input type="password" name="newPassword" ng-model="new_password" class="input-medium" required
                         autocomplete="off" />
                <span class="text-error"
                      ng-show="password.$dirty && password.$error.required">אנא מלא סיסמה</span>
            </div>
        <label for="validNewPassword" class="help-block">וידוא סיסמה:</label>
            <div>
                <input type="password" name="validNewPassword" ng-model="valid_new_password" class="input-medium" required
                         autocomplete="off" />
                <span class="text-error"
                      ng-show="password.$dirty && password.$error.required">אנא מלא סיסמה</span>
            </div>
        <input id="changeButton" class="btn btn-success btn-small" type="submit" style="margin-top:10px" value="שנה">
        <h4 class='text-error' id="loginError">{@ error @}</h4>
    </form>
{% endblock %}
