{% extends "includes/checker_base_page.html" %}
{% from 'includes/links.html' import person_link %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/deprecated/checkers.js"></script>
{%- endblock %}
{% block page_main %}
    <section class="matrix-section" ng-controller="MatrixCtrl">
        <header>
            <h1>
מטריצת בדיקת תרגילים
            </h1>
        </header>
        <br style="clear: both" />
        <div class='matrix'>
            <div class='students'>
                <div  class='first-col'>חניכים</div>
                <div class='mini-col' ng-repeat="member in students | orderBy: 'course_number'">
                    <div class='member-num'>
                        {@ member.course_number || '?' @}
                    </div>
                </div>
            </div>
            <div class='exercises'>
                    <div class='exercise' ng-repeat="exercise in exercises">
                        <div class='first-col'>
                            <a href="{@ linkForExercise(exercise) @}">
                                {@ exercise.name @}
                            </a>
                        </div>
                        <div ng-repeat="member in students | orderBy: 'id'" class="mini-col {@ assignments[exercise.id][member.id].state @}">
                            <div ng-show="assignments[exercise.id][member.id]">
                                <a href="/arrays/{@ exercise.array_id @}/assignments/{@ assignments[exercise.id][member.id].id @}/review">
                                    v{@ assignments[exercise.id][member.id].version @}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
{% endblock %}
