{% extends "includes/staff_base_page.html" %}


{% from 'includes/api_macros.html' import editable_element %}

{% block window_title %}{{ course.name }}{% endblock %}
{% block page_title_text %}
    <h4><a href="/courses" class="{@ course.eng_name.toLowerCase() @} icon course-link">קורסים</a> &raquo;</h4>
    <h1 ng-editable="course.name" ng-editable-object="course"></h1>
{% endblock %}
{% block page_main %}
    <ul>
        <li>
            <a href="{{ url_for('ischool.arrays_view') }}">מערכים</a>
        </li>
        <li>
            <a href="{{ url_for('ischool.manage_points') }}">פוינטים</a>
        </li>
        <li>
            <a href="{{ url_for('ischool.person_list_view') }}">אנשים</a>
        </li>
        <li>
            <a href="{{ url_for('ischool.twitter_home_page') }}">טוויטים</a>
        </li>
    </ul>
{% endblock %}
