{% extends 'includes/base_header.html' %}

{% block window_title %}קורסים{% endblock %}
{% block page_title_text -%}
    <h1>קורסים</h1>
{%- endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/course/course-controllers.js"></script>
{%- endblock %}

{% block page_main %}
    <ol ng-controller="CourseListCtrl">
        <li ng-repeat="course in courses track by course.id" ng-bind-html="course | course_link:true | safe"></li>
        <li class="create-new">
            <button class="add-new-btn" ng-click="createNewCourse()">קורס חדש נולד</button>
        </li>
    </ol>
{% endblock %}
