{% extends 'includes/base_header.html' %}

{% block window_title %}שגיאת {{ http_code }}{% endblock %}

{% block page_title_text -%}
    <h1>שגיאה</h1>
{%- endblock %}

{% block page_main %}
    <header>
        <h2>משהו לא טוב התרחש.</h2>
        <h3>{{ error_title }}</h3>
    </header>
    <h4>קוד שגיאה: {{ http_code }}</h4>
    {%- if http_code == 401 %}
        נסה <a href="{{ url_for('ischool.login_view') }}">להתחבר</a> על מנת לצפות בעמוד זה.
    {%- endif %}
{% endblock %}
