<script type="text/ng-template" id="manageExerciseModal.html">
    <form ng-submit="manageExercise()">
        <div class="modal-header">
            <h3 ng-if="modifiedExercise == null">יצירת תרגיל</h3>
            <h3 ng-if="modifiedExercise != null">עריכת תרגיל</h3>
        </div>
        <div class="modal-body">
            <div>
                <label>
                    <input type="checkbox" name="course_specific" ng-model="$parent.courseSpecific" />
                    ספציפי למחזור
                    <span style="font-size: 0.8em;">
                        (האם התרגיל מכיל פרטים ספציפיים למחזור הנוכחי? כמו למשל סמל ייחודי או שם של חניך)
                    <span>
                </label>
            </div>
            <div class='edit-exercise-property'>
                <h4 class ='control-label' for="array_criteria">שם התרגיל:</h4>
                <input type="text" ng-model="exerciseName" id="exerciseName" required></input>
            </div>
            <div>
                <h4 class ='control-label' for="submit_type">סוג הגשה:</h4>
                <select id="submitType" ng-model="$parent.submitType" ng-options="type.value as type.text for type in submitTypes" required />
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>

<script type="text/ng-template" id="manageExerciseCriteriaModal.html">
    <form ng-submit="save()">
        <div class="modal-header">
            <h3>מדדים עבור {@ exercise.name @}</h3>
        </div>
        <div class="modal-body">
            <div class='edit-exercise-property'>
                <h4 class ='control-label' for="array_criteria">מדדים מהמערך:</h4>
                <div ng-repeat="criterion in criteria.taken_from_array">
                    <input class="array-criterion" id="{@ criterion.id @}" type="checkbox" ng-model="selectedArraysCriteria[criterion.id]"/> {@ criterion.name @}
                    <a popover="{@ criterion.low_score_description @}" href="">1</a>
                    <a popover="{@ criterion.middle_score_description @}" href="">3</a>
                    <a popover="{@ criterion.high_score_description @}" href="">5</a>
                </div>
                <div ng-repeat="criterion in criteria.not_taken_from_array">
                    <input class="array-criterion" id="{@ criterion.id @}" type="checkbox" ng-model="selectedArraysCriteria[criterion.id]"/> {@ criterion.name @}
                    <a popover="{@ criterion.low_score_description @}" href="">1</a>
                    <a popover="{@ criterion.middle_score_description @}" href="">3</a>
                    <a popover="{@ criterion.high_score_description @}" href="">5</a>
                </div>
            </div>
            <div class='edit-exercise-property' ng-controller="ManageExerciseCriterionCtrl">
                <h4 class ='control-label' for="exercise_criteria">מדדים ספציפיים לתרגיל:</h4>
                <div ng-repeat="criterion in criteria.specific_to_exercise">
                    {@ criterion.name @}
                    <a popover="{@ criterion.low_score_description @}" href="">1</a>
                    <a popover="{@ criterion.middle_score_description @}" href="">3</a>
                    <a popover="{@ criterion.high_score_description @}" href="">5</a>
                    <a class="icon icon-pencil" ng-click="openManageExerciseCriterionModal(exercise, criterion)" href=""></a>
                </div>
                <div id="new-exercise-criterion">
                    <a type="button" class="btn" ng-click="openManageExerciseCriterionModal(exercise, null)">הוסף מדד לתרגיל</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="סגור" />
        </div>
    </form>
</script>

<script type="text/ng-template" id="manageExerciseCriterionModal.html">
    <form ng-submit="manageCriterion()">
        <div class="modal-header">
            <h3 ng-if="modifiedCriterion == null">יצירת מדד לתרגיל</h3>
            <h3 ng-if="modifiedCriterion != null">עריכת מדד לתרגיל</h3>
        </div>
        <div class="modal-body">
            <p>
                <label><b>שם המדד:</b></label>
                <input type="text" ng-model="criterionName" id="criterionName" required />
            <p>
                <label>הקריטריון לציון נמוך:</label>
                <textarea type="text" ng-model="lowScoreDescription" id="lowScoreDescription" required />
            <p>
                <label>הקריטריון לציון בינוני:</label>
                <textarea type="text" ng-model="middleScoreDescription" id="middleScoreDescription" required />
            <p>
                <label>הקריטריון לציון גבוה:</label>
                <textarea type="text" ng-model="highScoreDescription" id="highScoreDescription" required />
            <p>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>

<script type="text/ng-template" id="deleteExerciseCriterionModal.html">
    <form ng-submit="deleteExercise()">
        <div class="modal-header">
            <h3>מחיקת תרגיל</h3>
        </div>
        <div class="modal-body">
            <b>האם אתה בטוח שברצונך למחוק את התרגיל "{@ exerciseName @}"?</b>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>
