{% extends "includes/staff_base_page.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}{{ super() }}
    <!--<link rel="stylesheet" href="/static/css/blah-page.css" /> -->
{% endblock %}

{% block page_end_javascripts -%}
    <script src="/static/scripts/group/group-controllers.js"></script>
    <script src="/static/scripts/group/group-filters.js"></script>
{%- endblock %}

{% block page_controller %}GroupPageCtrl{% endblock %}
{% block page_init %}groupId = {{ group.id }}{% endblock %}

{% block page_title_text %}
    <h4><span ng-bind-html="course | course_link:true | safe"></span> &raquo;</h4>
    <h4><a href="/arrays/{{ group.array.id }}">{{ group.array.name }}</a> &raquo;</h4>
    <h1 class="text-type">{{ group.name }}</h1>
{% endblock %}

{% block page_main %}
    <section class="pull-right">
        <h4>קבוצה: <span ng-editable="group.name" ng-editable-model="group"></span></h4>
        <h4>רמה: <span ng-editable="group.level" ng-editable-model="group"></span></h4>
        <div>
            <span class="h4-tag">{@ group.manager | personalize_message:'אחראי כיתה':'אחראית כיתה' @}:</span>
            <select name="manager" ng-options="staff.id as staff.name for staff in all_staff" ng-model="managerId" ng-change="setManager(managerId)">
                <Option value="" disabled>בחר אחראי כיתה</Option>
            </select>
        </div>
        <input type="text" ng-model="addedStudent" typeahead="nameWithGroups(student) for student in allStudents | filter:$viewValue | filter: notMember | limitTo:8" class="form-control" typeahead-on-select="changeStudentMembership($item)" />
        <ul>
            <li ng-repeat="member in members track by member.id">
                <input type="checkbox" id="member_checkbox_{@ member.id @}"
                       ng-click="changeStudentMembership(member)"
                       ng-checked="true" />
                <label for="member_checkbox_{@ member.id @}">{@ member.name @}</label>
            </li>
        </ul>
    </section>
    <aside class="pull-left">
        <button class="btn btn-primary" ng-click="goBack(group)">חזרה</button>
        <button class="btn btn-danger" ng-click="removeGroup(group)">מחק קבוצה זו</button>
    </aside>
{% endblock %}
