{% extends 'includes/base_header.html' %}

{% block window_title %}התחברות{% endblock %}

{% block page_end_javascripts %}
    <script type="text/javascript" src="/static/scripts/user/user-controllers.js"></script>
    <script type="text/javascript" src="/static/scripts/user/user-services.js"></script>
{% endblock %}

{% block page_title_text -%}
    <h1>
התחברות למערכת
    </h1>
{%- endblock %}

{% block page_main %}
    <header>
        <h2>מי את/ה?</h2>
    </header>
    <form name="loginForm" method="POST" ng-controller="LoginCtrl"
            ng-submit="performLogin()">
        <label for="loginUsername" class="help-block">שם משתמש:</label>
            <div>
                <input type="text" ng-pattern="/[a-z,A-Z,0-9,_]+/" name="username" class="input-medium"
                    ng-model="username" required autofocus autocomplete="off" />
                <span ng-show="username.$dirty">
                    <span class="text-error"
                      ng-show="username.$error.required">אנא מלא שם משתמש</span>
                    <span class="text-error"
                      ng-show="username.$error.pattern">שם לא תקין!</span>
                </span>
            </div>
        <label for="loginPassword" class="help-block">סיסמה:</label>
            <div>
                <input type="password" name="password" ng-model="password" class="input-medium" required
                         autocomplete="off" />
                <span class="text-error"
                      ng-show="password.$dirty && password.$error.required">אנא מלא סיסמה</span>
            </div>
        <input id="loginButton" class="btn btn-success btn-small" type="submit" style="margin-top:10px" value="התחבר">
        <h4 class='text-error' id="loginError">{@ error @}</h4>
    </form>
{% endblock %}
