{% extends "includes/base_array.html" %}
{% set active_tab = 'matrix' %}
{% from 'includes/links.html' import person_link %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/deprecated/backbone.js"></script>
    <script src="/static/scripts/deprecated/matrix2.js"></script>
    <script type="text/javascript">
        new Matrix({{ assignments_by_id|tojson|safe }});
    </script>
{%- endblock %}
{% block page_main %}
    <header>
        <h1>מטריצת הרצת תרגילים</h1>
    </header>
    <br style="clear: both" />
    <div class='matrix'>
        <div class='students'>
            <div class='first-col'>
                <select name='group' class="group">
                    {% for group in groups %}
                        <option value="{{ group.id }}"> {{ group.name }} </option>
                    {% endfor %}
                </select>
            </div>
            {% for member in groups[0].members|sort_items('course_number') %}
                <div class='mini-col'>
                    <div class='member-num'>{{ member.course_number|default('?', None) }}</div>
                    {# TODO: use person | person_short_name #}
                    <div class='member-name'><abbr title="{{ member.name }}">{{ person_link(member) }}</abbr></div>
                </div>
            {% endfor %}
        </div>
        <div class='instances-container'>
            {% for instance in instances %}
                <div class='instance'>
                    <div class='first-col'>
                        <span class="instance-name">{{ instance.name }}</span>
                    </div>
                    <div class='exercises'>
                        {% for exercise in instance.exercises %}
                            <div class='exercise'>
                                <div class='first-col'>
                                    <a href="{{ url_for('ischool.array_exercise_view', arr=array, ex_id=exercise.id) }}">
                                        {{ exercise.name }}
                                    </a>
                                </div>
                                {% for member in groups[0].members %}
                                    <div class="mini-col js-exercise-progress-container" data-exercise-id="{{ exercise.id }}" data-member-id="{{ member.id }}">
                                        {% if assignments.has_key((exercise.id, member.id)) %}
                                            <div class="js-assignment-container" data-assignment-id="{{ assignments[(exercise.id, member.id)].id }}">placeholder</div>
                                        {% else %}
                                            <a href="#" class="js-add-exercise">+</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<script id="assignment-box-view" type="text/underscore-template">
    <div class="assignment-box <%= state %>" data-assignment-id="<%= id %>">
        <% if (version == 1 && state == 'in_progress') { %>
        v<%= version %>
        <a href="#" class="js-remove-assignment">x</a>
        <% } else { %>
        <a href="/assignments/<%= id %>/review">v<%= version %></a>
        <% } %>
    </div>
</script>
{% endblock %}
