<script type="text/ng-template" id="deleteMeetingModal.html">
    <form ng-submit="deleteMeeting()">
        <div class="modal-header">
            <h3>מחיקת שיחה</h3>
        </div>
        <div class="modal-body">
            <b>האם אתה בטוח שברצונך למחוק את השיחה"{@ meetingTitle@}"?</b>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="אישור" />
            <label class="btn btn-delete" ng-click="cancel()">סגור</label>
        </div>
    </form>
</script>
