{% extends 'includes/staff_base_page.html' %}

{% from 'includes/links.html' import course_link %}

{% block window_title %}אנשים{% endblock %}

{% block stylesheets %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/people-list.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/dropdown.css">
{% endblock %}

{% block page_end_javascripts %}
    <script src="/static/scripts/person/person-controllers.js"></script>
    <script src="/static/scripts/person/person-filters.js"></script>
{% endblock %}

{% block page_title_text -%}
    <h4>{{ course_link(g.course, True) }} &raquo;</h4>
    <h1>אנשים</h1>
{%- endblock %}

{% block page_main %}
    {% from 'includes/links.html' import person_link %}

    <article ng-init="">
        <div ng-controller="PersonListCtrl">
            <div class="pagination-centered">
                        <a ng-repeat="mode in modes" href class="btn btn-small btn-mini btn-inverse set-mode"
                           ng-class="currentMode == mode ? 'disabled' : ''"
                           ng-click="setPersonListMode(mode)">{@ mode.text @}</a>
                    </div>
            {% if title -%}
                <h2>{{ title }}</h2>
            {%- endif %}

            <p>
            <header>
                    <input type="text" placeholder="חפש..." ng-model="filterText"/><br/>
                    <button class="add-new-btn" ng-click="openNewPersonModal()">
                        איש חדש נולד...
                    </button>

            </header>
            </p>
            <!--<pre class="todo-delete" ng-bind="multiselection | json"></pre>-->
            <button class="todo-locate-in-the-page btn btn-danger btn-mini" ng-show="multiselection.getSelectedIds().length > 0" ng-click="deleteSelectedPeople()">מחק ({@ multiselection.getSelectedIds().length @})</button>
            <button class="todo-locate-in-the-page btn btn-info btn-mini" ng-show="multiselection.getSelectedIds().length > 0" ng-click="openMultipleUsersEditingModal()">אפס/צור משתמשים ({@ multiselection.getSelectedIds().length @})</button>
            <button class="todo-locate-in-the-page btn btn-info btn-mini" ng-show="multiselection.getSelectedIds().length > 0" ng-click="openMultipleCourseEditingModal()">שייך לקורס ({@ multiselection.getSelectedIds().length @})</button>
            <button class="todo-locate-in-the-page btn btn-info btn-mini" ng-show="multiselection.getSelectedIds().length > 0" ng-click="multiselection.clearAll()">נקה בחירה ({@ multiselection.getSelectedIds().length @})</button>
            <table class="table table-striped people" ng-init="order = {reverse: false, predicate: 'name'}">
                <thead>
                <tr ng-init="columns = [
                    {predicate: '', text: ''},
                    {predicate: 'role', text: 'תפקיד'},
                    {predicate: 'name', text: 'שם מלא'},
                    {predicate: 'contact_details[0].value', text: 'נתק&quot;ש'},
                    {predicate: 'user.username', text: 'שם משתמש'},
                    {orderable: false, text: 'סיסמה'},
                    {orderable: false, text: 'פעולה לביצוע'}
                ]">
                    <th ng-repeat="column in columns">
                        <a href ng-if="(column.orderable !== false) && (column.predicate != 'role')"
                           ng-click="order.reverse = (order.predicate == column.predicate ? !order.reverse : false);
                           order.predicate = column.predicate">
                            {@ column.text @}
                        </a>
                        <select ng-if="column.predicate == 'role'" ng-model="searchedRole" ng-options="role | translateRole for role in roles" id="rolesearch" class="ischool-dropdown role-filter">
                            <option value="">כל התפקידים</option>
                        </select>
                        <input ng-if="column.text == ''" ng-model="shouldSelectAllPeopleM" ng-change="togglePeopleSelectAll()" ng-checked="areAllPeopleSelected()" id="shouldSelectAllPeopleCheckBox" type="checkbox" />
                        <div ng-if="column.orderable === false">{@ column.text @}</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr class="person {@ role.type | class_name @}"
                            ng-repeat="person in people | filter:peopleViewFilter | orderBy:order.predicate:order.reverse
                                        track by person.id"
                            ng-init="role = person.role">
                        <td>
                            <input type="checkbox" ng-model="multiselection.ids[person.id]" id="personCheckBox{@ person.id @}" />
                        </td>
                        <td class="type">
                            <a href="#" href="#" >&nbsp;</a>
                            <span class="{@ role | class_name @}">{@ role | translateRole @}</span>
                        </td>
                        <td>
                            <span class="person-name text-type">{@ person.name @}</span>
                        </td>
                        <td class="person-contact">
                            <span ng-if="person.contact_details[0]">
                                <span class="person-name text-type">{@ person.contact_details[0].value @}</span>
                            </span>
                        </td>
                        <td class="user-name text">
                            <span ng-if="person.user">{@ person.user.username @}</span>
                        </td>
                        <td class="user-password">
                            <button class="btn btn-link manage-user-password" ng-click="openUserEditingModal(person)">
                                <span ng-show="person.user">אפס...</span>
                                <span ng-hide="person.user">צור...</span>
                            </button>
                        </td>
                        <td class="Functionality">
                            <a class="btn btn-info btn-mini view-person" href="/people/{@ person.id @}" data-person-id="{@ person.id @}">צפה</a>
                            <button class="btn btn-danger btn-mini" ng-click="deletePerson(person)">מחק</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </article>

    <script type="text/ng-template" id="newPersonModal.html">
        <form ng-submit="save()">
            <div class="modal-header">
                <h3>יצירת איש חדש</h3>
            </div>
            <div class="modal-body">
                <p style="margin-top: 20px">
                    <label for="new-name" class="help-block">שם:</label>
                    <input type="text" id="new-name" ng-model="fields.name"
                           class="input-medium" autocomplete="off" />
                </p>
                <p style="margin-top: 20px">
                    <label for="new-course" class="help-block">קורס</label>
                    <select id="new-course" ng-model="fields.courseId" ng-options="id as course for (id, course) in courses" class="input-medium">
                    </select>
                </p>
                <p style="margin-top: 20px">
                    <label for="new-role" class="help-block">תפקיד:</span>
                    </label>
                    <select ng-model="fields.role" class="input-medium">
                        <option value="student">חניך/כה</option>
                        <option value="staff">סגל</option>
                        <option value="track_leader">מפקד/ת מגמה</option>
                        <option value="course_chief">מפקד/ת קורס</option>
                        <option value="teacher">מורה</option>
                        <option value="checker">בודק/ת תרגילים</option>
                    </select>
                </p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="שמור" />
                <label class="btn btn-delete" ng-click="cancel()">סגור</label>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="userEditingModal.html">
        <form ng-submit="updateUser()">
            <div class="modal-header">
                <h3>ניהול משתמש עבור {@ person.name @}</h3>
            </div>
            <div class="modal-body">
                <a href class="btn btn-danger pull-left" ng-if="person.user" ng-click="removeUser()">
                    מחק משתמש
                </a>

                <alert ng-repeat="alert in localAlerts" type="alert.type" close="closeAlert($index)">
                    {@ alert.msg @}
                </alert>

                <p style="margin-top: 20px">
                    <label for="user_name" class="help-block">שם משתמש:</label>
                    <input type="text" id="user_name" ng-model="fields.username" pattern="[a-zA-Z0-9_]+"
                           class="input-medium" autocomplete="off" />
                </p>
                <p style="margin-top: 20px">
                    <label for="password" class="help-block">סיסמה<span ng-if="!person.user"> חדשה</span>:</label>
                    <input type="password" id="password" ng-model="fields.password"
                           class="input-medium" autocomplete="off" />
                </p>
                <p style="margin-top: 20px">
                    <label for="confirm_password" class="help-block">וידוא סיסמה<span ng-if="!person.user"> חדשה</span>:
                    </label>
                    <input type="password" id="confirm_password" ng-model="fields.confirmPassword"
                           class="input-medium" autocomplete="off" />
                </p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="אישור" />
                <label class="btn btn-delete" ng-click="cancel()">סגור</label>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="muiltpleUsersEditingModal.html">
        <form ng-submit="updateUsers()">
            <div class="modal-header">
                <h3>ניהול משתמשים ל{@ people.length @} אנשים</h3>
            </div>
            <div class="modal-body">
                <a href class="btn btn-danger pull-left" ng-click="removeUsers()">
                    מחק משתמשים
                </a>

                <alert ng-repeat="alert in localAlerts" type="alert.type" close="closeAlert($index)">
                    {@ alert.msg @}
                </alert>

                <p style="margin-top: 20px">
                    <label for="password" class="help-block">סיסמה: (השאר ריק אם ברצונך רק לערוך שמות משתמשים)</label>
                    <input type="password" id="password" ng-model="fields.password"
                           class="input-medium" autocomplete="off" />
                </p>
                <p style="margin-top: 20px">
                    <label for="confirm_password" class="help-block">וידוא סיסמה:
                    </label>
                    <input type="password" id="confirm_password" ng-model="fields.confirmPassword"
                           class="input-medium" autocomplete="off" />
                </p>
                <div>
                    <fieldset class="aligned-fieldset">
                        <legend>שמות משתמשים</legend>
                        <p ng-repeat="person in people">
                            <label for="user_name_{@ person.id @}" class="help-block">{@ person.name @}</label>
                            <input type="text" id="user_name_{@ person.id @}" ng-model="fields.usernames[person.id]" pattern="[a-zA-Z0-9_]+" class="input-medium" autocomplete="off" required />
                        </p>
                        <!-- TODO: add minlength,maxlength attributes to the fields -->
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="אישור" />
                <label class="btn btn-delete" ng-click="cancel()">סגור</label>
            </div>
        </form>
    </script>
{% endblock %}
