﻿{% extends "includes/person_base.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/person/person-exercises-controllers.js"></script>
    {% include 'submission-exercise-scores.html' %}

    <script src="/static/scripts/vendor/zingchart-html5-min.js"></script>
    <script src="/static/scripts/visualization/visualization-directives.js"></script>
    <script src="/static/scripts/visualization/visualization-controllers.js"></script>
{%- endblock %}

{% set active_tab = 'scores' %}

{% block page_main %}
    <section ng-controller="ScoreVisualizationCtrl" ng-init="initialize({{ person.id }});">
        <div id="score-visualization-header">
            <h4 ng-editable-model="mode">
                מדדי
                <span ng-if="exercises" ng-editable="mode.exercise_id"
                      select-type="exercises">
                </span>
                של מערך
                <span ng-editable="mode.array_id" 
                      select-type="arrays">
                </span>
                על סמך
                <span ng-editable="mode.which_score_to_use" 
                      select-type="{'only_the_first_submission': 'הגרסה הראשונה שהוגשה',
                                    'only_the_last_submission': 'הגרסה האחרונה שהוגשה',
                                    'only_the_dones': 'הגרסה שקיבלה Done',
                                    'all_the_scores': 'כל ההגשות'}">
                </span>
                יחסית
                <span ng-editable="mode.compare_to" 
                      select-type="{'compare_to_all': 'לכולם',
                                    'compare_to_group': 'לקבוצה ' + group.name}">
                </span>
            </h4>
            <span ng-show="isLoading">
                מחשב נתונים...
            </span>
        </div>
        <ng-visualization-radar radar-data="scoresData" radar-attributes="scoresAttrs" radar-series="scoresSeries">
        </ng-visualization-radar>
        <div ng-show="mousehoverAttr">
            <h5>{@ mousehoverAttr.name @}</h5>
            <h6>1:</h6>
            <span>
                {@ mousehoverAttr.description.low @}
            </span>
            <h6>3:</h6>
            <span>
                {@ mousehoverAttr.description.middle @}
            </span>
            <h6>5:</h6>
            <span>
                {@ mousehoverAttr.description.height @}
            </span>
        </div>
    </section>
    <hr />
    <section class="matrix-section" ng-controller="PersonScoresCtrl" ng-init="initialize({{ person.id }})">
    <br style="clear: both" />
    <div class='matrix'>
        <div>
            <div class='first-col'>
                <select ng-change="updateSelectedArrayUrl()" ng-model="selectedArray" name='arrays' class="array" ng-options="array.id as array.name for array in arrays">
                </select>
            </div>
            <div class='mini-col'>
                <br>
            </div>
         </div>
        <div id='scores-table' ng-include="selectedArrayUrl">
        </div>
    </div>
    </section>
{% endblock %}

{% macro track_link(track) -%}
    <a href="{{ url_for('ischool.track_view', track_name=track.eng_name|lower, course=track.course) }}">{{ track.name }}</a>
{%- endmacro %}
