﻿{% extends "includes/person_base.html" %}

{% block stylesheets %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/excercise-status.css" />
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/person/person-groups-controllers.js"></script>
{%- endblock %}

{% set active_tab = 'groups' %}

{% block page_main %}
    <section ng-controller="PersonGroupsCtrl" ng-init="personId = person.id">
        <h4>קבוצות של {{ person.name }}</h4>
        <div class="btn-group pull-left">
            <label class="btn done" ng-model="exercisesToShow.done" btn-checkbox>הושלם</label>
            <label class="btn resend" ng-model="exercisesToShow.resend" btn-checkbox>נסה שוב</label>
            <label class="btn in_progress" ng-model="exercisesToShow.in_progress" btn-checkbox>בתהליך</label>
            <label class="btn submitted" ng-model="exercisesToShow.submitted" btn-checkbox>הוגש</label>
        </div>
        <ul class="groups-list">
            <li ng-repeat="array in arrays">
                <h5 ng-bind-html="array | array_link"></h5>
                <div>קבוצות: <a class="label" ng-repeat="group in groups[array.id]"
                        href="/arrays/{@ array.id @}/matrix#?group={@ group.id @}">
                    {@ group.name @}
                </a></div>
                <div>תרגילים: <a class="exercise label assignment-label"
                                 ng-repeat="assignment in assignments[array.id] | filter:showByState:true"
                            href="/arrays/{@ array.id @}/assignments/{@ assignment.id @}/review"
                            ng-class="{ done: 'done',
                                    resend: 'resend',
                                    in_progress: 'in_progress',
                                    submitted: 'submitted'}[assignment.state]">
                    {@ assignment.exercise.name @}
                </a></div>
            </li>
        </ul>
    </section>
{% endblock %}
