<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>יחידת לימוד</th>
            <th>תרגיל</th>
            <th>הגשה</th>
            {% for criterion in array.criteria %}
                <td><a tooltip-html-unsafe="{{ criterion.description }}">{{ criterion.name }}</a></td>
            {% endfor %}
            <th>מדדים נוספים</th>
            <th>ממוצע</th>
            <th>בודק התרגיל</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in units_scores %}
            <tr>
                <td><em>{{ unit.unit.name }}</em></td>
                <td></td>
                <td></td>
                {% for criterion in array.criteria %}
                    <td></td>
                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for exercise in unit.scores %}
                <tr>
                    <td></td>
                    <td><em><a href="{{ url_for('ischool.assignment_review_view', arr=array, assignment_id=exercise.assignment.id) }}">{{ exercise.exercise.name }}</a></em></td>
                    <td></td>
                    {% for criterion in array.criteria %}
                        <td></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for submission in exercise.scores %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="" tooltip-popup-delay="250" tooltip-html-unsafe="{{ submission.staff_comments }}">{{ loop.index }}</a></td>
                        {% for criterion in array.criteria %}
                            <td>
                                <a href="" tooltip-popup-delay="250" tooltip-html-unsafe="<b>הערת הבודק:</b><p>{{ submission.array_scores.get(criterion.id).comment }}</p>">{{ submission.array_scores.get(criterion.id).score }}</a>
                            </td>
                        {% endfor %}
                        <td>{% if submission.exercise_scores|length > 0 %} <a href="" ng-click="openExerciseScoresModal({{ submission.submission.id }}, {{ loop.index }})"> + </a> {% endif %}</td>
                        <td>{% if 'avg' in submission %}{{ submission.avg }}{% endif %}</td>
                        <td><a href="{{ url_for('ischool.person_view', person_id=submission.review.reviewer.id) }}">{{ submission.review.reviewer.name }}</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>ממוצע תרגיל</td>
                    {% for criterion in array.criteria %}
                        <td>{% if criterion.id in exercise.avgs.per_criterion %}<i>{{ exercise.avgs.per_criterion.get(criterion.id) }}</i>{% endif %}</td>
                    {% endfor %}
                    <td></td>
                    <td>{% if 'total' in exercise.avgs %}<i>{{ exercise.avgs.total }}</i>{% endif %}</td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>ממוצע יחידה</td>
                <td></td>
                {% for criterion in array.criteria %}
                    <td>{% if criterion.id in unit.avgs.per_criterion %}<strong>{{ unit.avgs.per_criterion.get(criterion.id) }}</strong>{% endif %}</td>
                {% endfor %}
                <td></td>
                <td>{% if 'total' in unit.avgs %}<strong>{{ unit.avgs.total }}</strong>{% endif %}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>ממוצע כללי</strong></td>
            <td></td>
            <td></td>
            {% for criterion in array.criteria %}
                <td>{% if criterion.id in avgs.per_criterion %}<strong>{{ avgs.per_criterion.get(criterion.id) }}</strong>{% endif %}</td>
            {% endfor %}
            <td></td>
            <td>{% if 'total' in avgs %}<strong>{{ avgs.total }}</strong>{% endif %}</td>
            <td></td>
        </tr>
    </tbody>
</table>
