﻿{% extends "includes/person_base.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/meetings.css">
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/meeting/meetings-controllers.js"></script>
    <script src="/static/scripts/meeting/meetings-directives.js"></script>
    {% include 'meeting-delete.html' %}
{%- endblock %}

{% set active_tab = 'meetings' %}

{% block page_main %}

    <div ng-controller="MeetingListCtrl" class='meetings' ng-init="meetingListMode = true">
        <div meeting-modify selected-meeting="selectedMeeting" parent="this" ng-show="$parent.meetingEditMode"></div>
        <table ng-show="meetingListMode" class="table table-hover" ng-init="order = {reverse: true, predicate: 'date'}">
                <thead>
                <tr ng-init="columns = [
                    {predicate: 'last_updated', text: 'מה ומתי?'},
                    {predicate: 'short_summary', text: 'סיכום'},
                    {predicate: '', text: ''}
                    ]">
                    <th ng-repeat="column in columns">
                        <a href ng-if="(column.orderable !== false)"
                           ng-click="order.reverse = (order.predicate == column.predicate ? !order.reverse : false);
                           order.predicate = column.predicate">
                            {@ column.text @}
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="meeting in meetings | orderBy:order.predicate:order.reverse
                                        track by meeting.id">
                        <td class="text-type">
                            <a ng-click="viewMeeting(meeting)">{@ meeting.title @}</a><br/>
                            <small>
                            ע"י <a href="/people/{@ meeting.staff_id @}">{@ meeting.staff_name @}</a>
                            <ng-timeago time="meeting.scheduled_time"></ng-timeago><br/>
                            עודכן <ng-timeago time="meeting.last_updated"></ng-timeago>
                            </small>
                        </td>
                        <td class="text-type">
                            <p ng-bind-html="meeting.short_summary | safe"></p>
                        </td>
                        <td class="Functionality">
                            <a class="btn btn-info btn-mini" ng-click="viewMeeting(meeting)">צפייה</a>
                            <a class="btn btn-info btn-mini" ng-click="editMeeting(meeting)">עריכה</a>
                            <a class="btn btn-info btn-mini" ng-click="openDeleteMeetingModal(meeting)">מחיקה</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td colspan="3"><a class="btn btn-info btn-mini" ng-click="createMeeting()">הוספת שיחה חדשה</a></td></tr>
                </tfoot>
            </table>

            <table ng-show="meetingViewMode" class="table meetings-view">
                <tbody>
                    <tr>
                        <td><h3>{@ selectedMeeting.title @}</h3></td>
                        <td style="text-align: left; vertical-align: middle">
                            <a class="btn btn-info btn-mini" ng-click="editMeeting(selectedMeeting)">עריכה</a>
                            <a class="btn btn-info btn-mini" ng-click="viewList()">כל השיחות</a>
                        </td>
                    </tr>
                    <tr><td colspan="2">
                        <p>
                        <label class="meeting-title">אג'נדה:</label>
                        <p ng-bind-html="selectedMeeting.agenda | safe"></p>
                        <p>
                        <label class="meeting-title">תוכן הפגישה:</label>
                        <p ng-bind-html="selectedMeeting.summary | safe"></p>
                        <p>
                        <label class="meeting-title">סיכום מנהלים:</label>
                        <p ng-bind-html="selectedMeeting.short_summary | safe"></p>
                </td></tr></tbody>
            </table>

    </div>
{% endblock %}
