{% extends "includes/person_base.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}
    {{ super() }}
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/person/person-exercises-controllers.js"></script>
{%- endblock %}

{% set active_tab = 'wall' %}

{% block page_main %}
<script>
    var timelineFilters = { id:{{ person.id }}, name:"{{ person.name }}", type:'hashtag' };
</script>
<section  ng-controller="FilterCtrl"  ng-init="init({ id:{{ person.id }}, name:'{{ person.name }}', type:'person' })">
    <div>
        <aside>
            <span ng-repeat='f in filters'>
                <button class="btn  btn-info" ng-click="remove_filter(f.id)">
                {@ f.name @}
                </button>

            </span>
            <div>
                <label>פלטר:</label><textarea style="width: 220px; height: 50px;" class="filterbox" ng-filterbox onFiltersChange="filtersChanged"></textarea>
                <label dir="rtl"><input type="checkbox" onclick="setCheckedFilter(this)" /><h7>
                    הסתר ציוצים שטופלו
                </h7>
                </label>
            </div>
        </aside>
    </div>
</section>

    <section ng-controller="TimelineListCtrl">
        <div id="MessagesDiv" style="background: #f5f5f5" ></div>
        <span ng-if="!allLoaded">
            <button ng-click="loadMore()">Load More</button>
            <button ng-click="loadAll()">Load All</button>
        </span>
</section>

{% endblock %}

{% macro track_link(track) -%}
    <a href="{{ url_for('ischool.track_view', track_name=track.eng_name|lower, course=track.course) }}">{{ track.name }}</a>
{%- endmacro %}
