{% extends "includes/person_base.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/person-page.css" />
{% endblock %}

{% block page_end_javascripts -%}
    <script src="/static/scripts/person/person-controllers.js"></script>
    <script src="/static/scripts/person/person-filters.js"></script>
{%- endblock %}

{% set is_student = g.person.role == 'student' %}

{% block window_title %}{{ person.name }}{% endblock %}

{% block page_controller %}PersonPageCtrl{% endblock %}
{% block page_init %}personId = {{ person.id }}{% endblock %}

{% block page_title_text %}
    <h4><a href="{{ url_for('ischool.person_list_view') }}">אנשים</a> &raquo;</h4>
    <h1 class="text-type">{{ person.name }}</h1>
{% endblock %}

{% set active_tab = 'overview' %}


{% block page_main %}
    <aside class="person-main-details headered-box" ng-editable-model="person">
        <header><h2>פרטים</h2></header>
        <ul>
            <li>
                <span class="def">שם</span>
                <span class="val" ng-editable="person.name"></span>
            </li>
            <li>
                <span class="def">מין:</span>
                <span class="type gender gender-{@ person.gender @}"
                      select-type="{'male': 'זכר','female': 'נקבה'}"
                      ng-editable="person.gender"></span>
            </li>
            <li>
                <span class="def">מס' אישי:</span>
                <span class="val" number-type ng-editable="person.army_personal_num"></span>
            </li>
            <li>
                <span class="def">מס' ת.ז:</span>
                <span class="val" number-type ng-editable="person.identity_num"></span>
            </li>
            <li>
                <span class="def">קורס:</span>
                <span class="course val">
                    {@ courses[person.main_course_id] @}
                </span>
            </li>
            <li>
                <span class="def">תפקיד:</span>
                <span class="val">
                    {@ person.role | translateRole @}
                </span>
            </li>
            <li>
                <a href="/people/{@ person.id @}">
                    <img ng-src="/people/{@ person.id @}/picture"/>
                    <span>{@ person.name @}</span>
                </a>
            </li>
        </ul>
    </aside>
    <ul class="roles">
        <li class="role role-{@ person.role @}">
            <div class="extra-info" ng-if="person.role == 'student'">
                <ul>
                    <li>
                        <span class="def">מספר קורסי:</span>
                        <span class="val" ng-editable="person.course_number"></span>
                    </li>
                    <li>
                        <span class="def">{@ role.tutor | personalize_message:'חונך':'חונכת' @}:</span>
                        <select name="tutor" class="tutor" ng-options="tutor.id as tutor.name for tutor in all_tutors" ng-model="tutorId" ng-change="setTutor(tutorId)">
                            <Option value="" disabled>בחר חונך</Option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="track" ng-if="person.role == 'staff' || person.role == 'track_leader'">
                <span ng-if="person.track" ng-bind-html="person.track | track_link | safe"></span>
                <span ng-if="!person.track">ללא מגמה</span>
            </div>
            <div class="extra-info" ng-if="person.role == 'staff'">
                <div class="arrays">
                    <h5>{@ person | personalize_message:'אחראי':'אחראית' @} על המערכים:</h5>
                    <ul>
                        <li ng-repeat="arr in person.managing_arrays">
                            <a href="/arrays/{@ arr.id @}">{@ arr.name @}</a>
                        </li>
                    </ul>
                </div>
                <div class="student-images">
                    <h5>{@ person | personalize_message:'חונך':'חונכת' @}
                        של החניכים:</h5>
                    <ul>
                        <li ng-repeat="student in person.students">
                            <a href="/people/{@ student.id @}">
                                <img ng-src="/people/{@ student.id @}/picture"/>
                                <span>{@ student.name @}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="extra-info" ng-if="role == 'track_leader' || role == 'course_chief'">
                <div class="track_staff" ng-if="role == 'track_leader'">
                    <h5>במגמה:</h5>
                    <ul>
                        <li ng-repeat="staff in person.track.staff | orderBy:'name'"
                                ng-bind-html="staff | person_link | safe">
                        </li>
                    </ul>
                </div>
                <div class="arrays" ng-show="person.managing_arrays.length > 0">
                    <h5>{@ person | personalize_message:'אחראי':'אחראית' @} על המערכים:</h5>
                    <ul>
                        <li ng-repeat="arr in person.managing_arrays">
                            <a href="/arrays/{@ arr.id @}">{@ arr.name @}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="extra-info" ng-if="role == 'teacher'">
            </div>
            <div class="extra-info" ng-if="role == 'checker'">
            </div>
        </li>
        <li>
            <hr />
            <div class="editable" style="width:100%;" ng-bind-html="person.details | safe"></div>
        </li>
    </ul>

{% endblock %}

{% macro track_link(track) -%}
    <a href="{{ url_for('ischool.track_view', track_name=track.eng_name|lower, course=track.course) }}">{{ track.name }}</a>
{%- endmacro %}
