<script type="text/ng-template" id="exerciseScoresModal.html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>ציונים ספציפיים ל<i>{@ exerciseName @}</i> הגשה מספר {@ submissionNumber @}</h3>
            </div>
            <div class="modal-body">
                <div ng-repeat="score in scores">
                    <h4>{@ score.criterion_name @}</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <b>תיאור המדד:</b>
                                    <a popover="{@ score.low_score_description @}">1</a>
                                    <a popover="{@ score.middle_score_description @}">3</a>
                                    <a popover="{@ score.high_score_description @}">5</a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>הציון:</b> <rating value="score.score" max="5" readonly="true"></rating></td>
                            </tr>
                            <tr>
                                <td><b>הערת הבודק:</b> {@ score.comment @}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <label class="btn btn-delete" ng-click="cancel()">סגור</label>
            </div>
        </div>
    </div>
</script>
