{% extends "includes/staff_base_with_sidebar.html" %}
{% from 'includes/api_macros.html' import editable_mock_element %}
{% block window_title %}טוויטים ב{{ g.course.name }}{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/twitter.css">

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mentionsInput.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jqcloud.css"/>
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/twitter/twitter-controllers.js"></script>
    <script src="/static/scripts/twitter/twitter-directives.js"></script>

    <script src="/static/scripts/vendor/jquery-2.0.3.js"></script>
    <script src="/static/scripts/vendor/jquery-ui.min.js"></script>

    <script src="/static/scripts/vendor/jquery.elastic.js"></script>
    <script src="/static/scripts/vendor/jquery.events.input.js"></script>

    <script src="/static/scripts/vendor/jqcloud-1.0.4.js"></script>

    <!-- here i edded << this.instance = instance; >> at line 412 -->
    <!-- and << $(elmCurrentAutoCompleteItem[0].parentNode.parentNode).
                scrollTo(elmCurrentAutoCompleteItem[0].offsetTop - 60,{duration:0}); >>
                at line 254 -->
    <!-- also added support for multiple signs and to use each mention more then once -->
    <!-- dont try to upgrade it to a new version, you will WANT TO DIE -->
    <script src="/static/scripts/vendor/jquery.mentionsInput.js"></script>
    <script src="/static/scripts/vendor/jquery.scrollto.js"></script>
{%- endblock %}


{% block page_classes %}{{ super() }} with-sidebar{% endblock %}


{% block sidebar -%}

    {{ super() }}
    <section  ng-controller="FilterCtrl">
    <div>
        <aside>
            <label dir="rtl"><input type="checkbox" checked="true" onclick="setFiltersStatic(this)" />
                <h7>
קבע כטאגים קבועים
                </h7>
            </label>
            <div class="btn">
                <a ng-href="/api/rss/tweets/{@ formattedFilters @}">RSS</a>
            </div>
            <br>
            <span ng-repeat='f in filters'>
                <button class="btn  btn-info" ng-click="remove_filter(f.id)">
                {@ f.name @}
                </button>
            </span>
            <div class="twitter-filterbox-wrapper">
                <label>פלטר:</label><textarea class="filterbox filter-textarea" ng-filterbox onFiltersChange="filtersChanged"></textarea>
                <label dir="rtl"><input type="checkbox" onclick="setCheckedFilter(this)" /><h7>
                    הסתר ציוצים שטופלו
                </h7>
                </label>
            </div>
        </aside>
    </div>
    <div>
        <aside>
                <div id="cloud" class="hashtag-textarea"></div>
        </aside>
    </div>
    </section>

{%- endblock %}

{% block page_main %}


    <div>
        <textarea class="twitterbox" ng-twitterbox></textarea>
    </div>

    <section ng-controller="TimelineListCtrl">
        <div id="MessagesDiv" style="background: #f5f5f5" ></div>
        <span ng-if="!allLoaded">
            <button ng-click="loadMore()">Load More</button>
            <button ng-click="loadAll()">Load All</button>
        </span>
    </section>

{% endblock %}

