<div class="modal-header">
    <h3>אירעה שגיאה</h3>
</div>
<div class="modal-body">
    <section ng-if="response.status == 400">
        <h4>400 - בקשה לא חוקית.</h4>
        <summary>השרת החזיר שגיאה:
            <details style='font-family: "Courier New";direction: ltr;'>{@ response.data.message @}</details>
        </summary>
        <span ng-if="response.data.subject">
            <summary>
                <h5>פרטים נוספים</h5>
                <details style='font-family: "Courier New";'>{@ response.data.subject @}</details>
            </summary>
        </span>
    </section>
    <section ng-if="response.status == 401">
        <h4>אתה לא מאומת.</h4>
        יש מצב שיש לך גישה ל-{@ response.config.url @}, אבל אתה לא מאומת. נסה את מזלך ותתחבר.
    </section>
    <section ng-if="response.status == 403">
        <h4>גישה לא מאושרת.</h4>
			<br>התקרית דווחה לסגל. </br>
    </section>
    <section ng-if="response.status == 404">
        <h4>דף לא נמצא.</h4>
        הפניה ל-{@ response.config.url @} החזירה 404. נסה לפנות לעמודים שקיימים בפעם הבאה.
    </section>
    <section ng-if="response.status == 405">
        <h4>פניה מוזרה.</h4>
        העמוד קיים והכל, אבל פנית בפניית HTTP שלא נתמכת על ידי השרת אליו.
    </section>
    <section ng-if="response.status == 500">
        <h4>שגיאת שרת פנימית.</h4>
        מה כבר הצלחת להרוס? פנה למישהו שמבין שיעזור לך.
    </section>
    <section ng-if="response.status != 400 && response.status != 401 && response.status != 403 && response.status != 404
        && response.status != 405 && response.status != 500">
        <h4>שגיאה כלשהי.</h4>
        תכלס, לא קוד שגיאה הגיוני. אתה מאוד יצירתי, ללא ספק.
    </section>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">סגור</button>
</div>
