<span ng-if="groups.length > 0">
קבוצה:
    <a class="icon icon-pencil" href="/groups/{@ selected.group.id @}"="ערוך קבוצה"></a>
    <select ng-options="group.name for group in groups"
            ng-change="changeGroup(selected.group)"
            ng-model="selected.group"></select>
</span>
<span ng-if="groups.length == 0">
    לא הוגדרו קבוצות
</span>


<script type="text/ng-template" id="createGroupModal.html">
    <div class="modal-header">
        <h3>יצירת קבוצה</h3>
    </div>
    <div class="modal-body">
        <section class="pull-right right" style="width:47%">
            <p>
            <input type="text"  ng-model="group_name"  id="group_name" required />
            <button class="btn btn-primary" ng-click="createNewGroup(group_name)">קבוצה ריקה חדשה</button></p>
            <details>יוצר קבוצה חדשה וריקה אליה צריך להוסיף את כל השיעורים מחדש. מיועד בעיקר עבור מערכים חדשים.</details>
        </section>
        <section class="pull-left left" style="width:47%">
            <p>
                <select ng-model="groupToDuplicate" ng-options="group.name for group in groups">
                    <option value="">בחר קבוצה</option>
                </select>
            </p>
            <p><button class="btn btn-primary" ng-disabled="!groupToDuplicate" ng-click="duplicateGroup(groupToDuplicate)">
                <span ng-if="groupToDuplicate">שכפל את הקבוצה {@ groupToDuplicate.name @}</span>
                <span ng-if="!groupToDuplicate">שכפל קבוצה קיימת</span>
            </button></p>
            <details>משכפל את כל המופעים של קבוצה קיימת לקבוצה חדשה. לאחר היצירה אפשר יהיה לשנות את המופעים של הקבוצה ללא תלות בקבוצת המקור (ולהיפך)</details>
        </section>
    </div>
    <div class="modal-footer">
        <label class="btn btn-delete" ng-click="cancel()">סגור</label>
    </div>
</script>
