<link rel="stylesheet" type="text/css" href="/static/css/dropdown.css"><table class="array-plan" data-unit-id="{@ unit.id @}" ng-class="currentInstances.length == 0 ? 'empty' : ''">    <thead>
    <tr>
        <th class="id"></th>
        <th class="type"></th>
        <th class="name"></th>
        <th class="teacher">מורה</th>
        <th class="preferred">מומלץ</th>
        <th class="allocated">מוקצה</th>
        <!--
            <th class="on-luz"></th>
            <th class="people"></th>
        -->
            <th class="reserve">תואם</th>
        <th class="tasks">משימות</th>
    </tr>
    </thead>
    <tbody>
    <tr data-inst-id="{@ inst.id @}" data-inst-order="{@ inst.order @}" ng-repeat="inst in (instances | smartFilter:{unit_id: unit.id} | orderBy:'order') track by inst.id"
        class="inst-{@ inst.type | class_name @} instance-row"
        ng-editable-model="inst">
        <td class="order" ng-powertip>
            {@ $index + 1 @}
            <ng-actions>
                <ul class="ltr">
                    <li class="destroy">
                        <button title="מחק!" ng-click="removeInstance(inst)"></button>
                    </li>
                </ul>
            </ng-actions>
        </td>
        <td class="type editable" select-type="{
            'self-work': 'ע&quot;ע',
            'lesson': 'שיעור',
            'cut': 'חיתוך',
            'self-learn': 'ל&quot;ע',
            'targil': 'תרגיל',
            'project': 'פרויקט',
            'tamak': 'תמ&quot;כ'
        }" ng-editable="inst.type"></td>
        <td class="name" text-type ng-editable="inst.name"></td>
        <td class="teacher" text-type ng-editable="inst.teacher"></td>
        <td class="preferred" number-type ng-editable="inst.suggested_hours"
                ng-editable-expression="inst.suggested_hours"></td>
        <td class="allocated" number-type ng-editable="inst.hours"
                ng-editable-expression="inst.hours"></td>
    <!--
        <td class="on-luz">
             <span ng-if="inst.luz_hours > 0">
                <span class="icon win">&#10004;</span>
                <span class="value">({@ inst.luz_hours | short_float @})</span>
            </span>
            <span ng-if="inst.luz_hours == 0">
                <span class="icon fail">&#10008;</span>
                <span class="value"></span>
            </span>
        </td>
        <td class="people">
            <ul>
                <li ng-repeat="person in inst.bizur_people | orderBy:'name'"
                    ng-bind-html="person | person_link:(person|person_short_name:inst.bizur_people) | safe">
                </li>
            </ul>
        </td>
        <td class="reserve">
            <a class="invoke-bizur-verify-dialog" href="" ng-init="needsVerifying = (inst.placements | is_needs_verifying)" >
                <i ng-if="!needsVerifying"></i>
                <span ng-if="needsVerifying" ng-init="allPlacementsVerified = (inst.placements | is_all_verified)">
                    <span class="icon win" ng-if="allPlacementsVerified">&#10004;</span>
                    <span class="icon fail" ng-if="!allPlacementsVerified">&#10008;</span>
                    &nbsp;
                </span>
            </a>
        <#--
            <div style="display: none" class="verifiable-people" data-inst-order="{{ inst.order }}" data-inst-name="{{ inst.name }}">
                <ul>
                    {%- for bizur in inst.get_bizurs() -%}
                        <li>
                            <a href="{{ url_for('person_view', person_id=bizur.person.id) }}" {{ editable_element(bizur.placement) }}
                                data-base-type="placement"
                                data-person-id="{{ bizur.person.id }}" class="icon-remove-sign remove-btn"></a>
                            <a href="{{ url_for('person_view', person_id=bizur.person.id) }}" class="icon-user"></a>
                            <label for="isVerifiedBox_{{ inst.id }}_{{ bizur.person.id }}">
                                {{ bizur.person.name }}
                            </label>
                            {% if bizur.is_verifiable() -%}
                            <input type="checkbox" class="change-bizur-verify-status"
                                   id="isVerifiedBox_{{ inst.id }}_{{ bizur.person.id }}"
                                    {%- if bizur.is_verified %} checked="checked" {% endif -%}
                                    {{ editable_mock_element(m.AbstractPlacement, 'verified', bizur.placement.id) }}
                                    data-person-id="{{ bizur.person.id }}"
                                    title="" />
                            {%- endif %}
                            {%- if bizur.person.service_type == 'reserve' %}
                                <a href="http://PATH/TO/FORM"></a>
                            {% endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            --#>
        </td>
        -->
        <td class="reserve">
            <a href ng-click="toggleVerification(inst)">
                <span class="icon win" ng-if="inst.marked_as_verified">&#10004;</span>
                <span class="icon fail" ng-if="!inst.marked_as_verified">&#10008;</span>
            </a>
        </td>
        <td class="tasks">
            <a href="/arrays/{@ inst.array_id @}/run#inst{@ inst.id @}" ng-init="tasksCount = inst.tasks.length;
            unfinishedTasksCount = (inst.tasks | unfinished_tasks).length">
                <span ng-if="tasksCount > 0">
                        <span ng-if="unfinishedTasksCount == 0" class="icon win">&#10004;</span>
                        <span ng-if="unfinishedTasksCount == 1">
                            <span class="icon fail">&#10008;</span> אחת לא בוצעה
                        </span>
                        <span ng-if="unfinishedTasksCount > 1">
                            <span class="icon fail">&#10008;</span> {@ unfinishedTasksCount @} לא בוצעו
                        </span>
                </span>
            </a>
        </td>
    </tr>
    <tr ng-if="(instances | smartFilter:{unit_id: unit.id}).length == 0">
        <td colspan="9">לא קיימים מופעים. לחץ על "מופע חדש..." בשביל להוסיף חדשים</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2"></td>
        <td>
            <button class="add-new-btn" ng-click="createNewInstance(unit)" ng-if="selected.group">
            מופע חדש...
            </button>
        </td>
        <td class="total">סה"כ:</td>
        <td class="preferred">{@ instances | smartFilter:{unit_id: unit.id} | total_suggested_hours @}</td>
        <td class="allocated">{@ instances | smartFilter:{unit_id: unit.id} | total_hours @}</td>
        <!--
        <td class="on-luz">{@ instances | smartFilter:{unit_id: unit.id} | total_luz_hours @}</td>
        -->
        <td colspan="2"></td>
    </tr>
    </tfoot>
</table>
