<div class='matrix'>
    <label>&nbsp;</label> <!-- Without this empty label, an annoying vertical scrollbar shows up. Voodoo, I know. -->
    <div class='first-col-container'>
        <div class='students'>
            <div class='first-col'>
            </div>
        </div>
        <div class="unit" ng-repeat="unit in units | filter:unitInGroup | filter:unitHasRelevantInstances | orderBy:'order'">
            <div class="first-col unit-name">
                {@ unit.name @}
            </div>
            <div class='instance'
                 ng-repeat="instance in instancesByUnits[unit.id] | filter:instanceHasExercises | orderBy:'order'">
                <div class='first-col'>
                    <span class="instance-name">{@ instance.name @}</span>
                </div>
                <div class='exercise' ng-repeat="exercise in getExercisesOfInstance(instance)"
                        ng-class="{'open-until-here': (openUntil[instance.id] == exercise.id)}">
                    <div class='first-col' data-exercise-id="{@ exercise.id @}">
                        <a href="{@ linkForExercise(exercise) @}" target="_blank">
                            {@ exercise.name @}
                        </a>
                        <span class="options show-on-hover">
                            <a class="btn btn-mini" tooltip="הוסף בודק" ng-show="show_checkers && highlighted_checker_id"
                                    href="#" ng-click="checkers_assignments.set_checker_to_current_group(exercise.id, highlighted_checker_id, true)">v</a>
                            <a class="btn btn-mini" tooltip="מחק בודק" ng-show="show_checkers && highlighted_checker_id"
                                    href="#" ng-click="checkers_assignments.set_checker_to_current_group(exercise.id, highlighted_checker_id, false)">x</a>
                            <label class="btn btn-mini" ng-click="openUntil(instance, exercise)" ng-class="{active: (openUntil[instance.id] == exercise.id)}"
                                   tooltip="פתח תרגילים עד לשורה זו" >
                                &raquo;
                            </label>
                            <button class="btn btn-mini btn-info" tooltip="הוסף תרגיל לכולם" ng-hide="show_checkers"
                                    href="#" ng-click="addExerciseToAll(exercise)">+</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instances-container">
        <div class='students'>
            <div class='mini-col' ng-repeat="member in selected.group.members | orderBy: 'course_number'">
                <div class='member-num'>
                    {@ member.course_number || '?' @}
                </div>
                <div class='member-name' data-student-id="{@ member.id @}">
                    <a title="{@ member.name @}" href="/people/{@ member.id @}" target="_blank">{@ member.name @}</a>
                </div>
            </div>
        </div>
        <div class="unit" ng-repeat="unit in units | filter:unitInGroup | filter:unitHasRelevantInstances | orderBy:'order'">
            <div class="unit-name-filler row-filler"></div>
            <div class='instance'
                 ng-repeat="instance in instancesByUnits[unit.id] | filter:instanceInGroup | filter:instanceHasExercises | orderBy:'order'">
                <div class="instance-name-filler row-filler">
                    <a href="/cuts/{@ instance.id @}/run" target="_blank">לחיתוכים</a>
                </div>
                <div class='exercises'>
                    <div class='exercise' ng-repeat="exercise in getExercisesOfInstance(instance)"
                            ng-class="{'open-until-here': (openUntil[instance.id] == exercise.id)}">
                        <div class='assignments'>
                            <div ng-repeat="member in selected.group.members | orderBy: 'course_number'" class="matrix-assignment mini-col {@ assignments[exercise.id][member.id].state @}" data-exercise-id="{@ exercise.id @}" data-student-id="{@ member.id @}">
                                <div ng-class="{ focused: focused_assignment == assignments[exercise.id][member.id].id }"
                                     id="{@ assignments[exercise.id][member.id].id @}" ng-show="assignments[exercise.id][member.id] && !show_checkers">
                                    <a href="/arrays/{@ exercise.array_id @}/assignments/{@ assignments[exercise.id][member.id].id @}/review" target="_blank">
                                        v{@ assignments[exercise.id][member.id].version @}
                                    </a>
                                    <a href
                                       ng-click="removeAssignment(exercise, member)"
                                       ng-show="isAssignmentRemovable(exercise, member)">x</a>
                                </div>
                                <a href ng-hide="assignments[exercise.id][member.id] || show_checkers"
                                   ng-click="addExercise(exercise, member)">+</a>
                                <a ng-show="show_checkers && !highlighted_checker_id">
                                    {@ checkers_assignments.has_checker(exercise.id, member.id) ? 'y' : 'n' @}
                                    <!-- TODO: instead of this 'a' element, add a class to the parent element and design it -->
                                </a>
                                <a ng-show="show_checkers && highlighted_checker_id"
                                ng-click="checkers_assignments.toggle_checker(exercise.id, member.id, highlighted_checker_id)">
                                    {@ checkers_assignments.is_checker_of(exercise.id, member.id, highlighted_checker_id) ? 'y' : 'n' @}
                                    <!-- TODO: instead of this 'a' element, add a class to the parent element and design it -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
