<form ng-submit="manageMeeting()">
<table class="table meetings-view">
    <tbody>
        <tr>
            <td>
                <h3 ng-if="!selectedMeeting">יצירת שיחה אישית חדשה</h3>
                <h3 ng-if="selectedMeeting">עריכת שיחה אישית</h3>
            </td>
            <td style="text-align: left; vertical-align: middle">
                <a ng-if="selectedMeeting" class="btn btn-info btn-mini" ng-click="cancelEdit()">צפייה</a>
                <a class="btn btn-info btn-mini" ng-click="viewList()">כל השיחות</a>
            </td>
        </tr>
        <tr><td colspan="2">

            <p>
                <label>כותרת:</label>
                <input type="text" ng-model="meeting_title" required/>
            <p>
                <label>מועד:</label>
                <input type="date" ng-model="meeting_scheduled_time" required/>
            <p>
                <label>אג'נדה לשיחה:</label>
                <textarea ui-tinymce="$parent.tinymceOptions" ng-model="meeting_agenda"></textarea>
             <p>
                <label>סיכום:</label>
                <textarea  ui-tinymce="$parent.tinymceOptions" ng-model="meeting_summary"></textarea>
             <p>
                <label>שורה תחתונה:</label>
                <textarea ui-tinymce="$parent.tinymceOptions" ng-model="meeting_short_summary"></textarea>
            </p>
            <input type="submit" class="btn btn-primary" value="אישור" />

        </td>
        </tr>
    </tbody>
</table>
</form>
        </div>
