<div class="point-reply">
    <h4>תשובה לחניך</h4>
    <div ng-repeat="message in selectedPoint.messages" class="message" ng-class="{'from-student': message.person_id == selectedPoint.person_id}">
        <div>
            <span ng-bind-html="people[message.person_id] | person_link | safe"></span>:
            <span class="message-text" ng-bind-html="message.text | safe"></span>
        </div>
        <div class="date"><ng-timeago time="message.created_at"></ng-timeago></div>

    </div>

    <div ng-show="selectedPoint.staff_status == 'handling'">
        <textarea ui-tinymce="$parent.tinymceReplyOptions" ng-model="replyText"></textarea><br />
        <button type="submit" ng-click="reply()" class="btn btn-primary">הגב</button>
        <button type="submit" ng-click="unlock()" class="btn">הסר נעילה</button>
    </div>
    <button type="submit" ng-hide="selectedPoint.staff_status == 'handling'" ng-click="hide()" class="btn">הסתר</button>
</div>
