<a ng-if="match.model.__type__ == 'person'">
  <img ng-src="/people/{@ match.model.id @}/picture" width="16" />
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
</a>
<a ng-if="match.model.__type__ == 'array'">
  <img src="/static/images/default-array-picture.png" width="16" />
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
</a>
<a ng-if="match.model.__type__ == 'exercise'">
    <img src="/static/images/default-exercise-picture.png" width="16" />
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
</a>
