<div class="staff-point">
    <h3>שליחת הודעה לחניך <input type="submit" class="btn" ng-click="hide()" value="ביטול"/></h3>
    <form ng-submit="createPoint()" novalidate name="form">
        <textarea ui-tinymce="$parent.tinymceReplyOptions" ng-model="pointText" placeholder="טקסט" required></textarea><br />
        <div>
            <div>
                <select ng-model="selectedStudent"
                        ng-options="person as person.name for person in peopleList() | filter:notSelected | filter:isStudent | orderBy:'name'"
                        ng-change = addStudent(selectedStudent);
                        class="input-medium"
                        ui-select2>
                    <option value="">בחר חניך</option>
                </select>
                <!-- YOOOOYOOYOYOYOOYOY -->
                <!--select ng-model="selectedArray"
                        ng-options="array as array.name for array in arrays | orderBy:'name'"
                        class="input-medium"
                        ui-select2 ng-change="updateGroups(selectedArray)">
                    <option value="">בחר מערך</option>
                </select>
                <select ng-options="group as group.name for group in groups | orderBy:'name'"
                        ng-model="selectedGroup"
                        class="input-medium"
                        ui-select2>
                    <option value="">בחר קבוצה</option>
                </select>
                <a class="btn btn-info ng-binding" ng-click="setStudentsToGroup()">בחר חניכי קבוצה</a-->
            </div>
            <div class="student-list">
                <a ng-repeat="student in selectedStudents" class="btn btn-info ng-binding" ng-click="removeStudent(student)">{@ student.name @}</a>
            </div>
            <input type="submit" class="btn btn-primary send-point" value="שלח"  ng-disabled="isNotValid() || form.$invalid"/>
        </div>
    </form>

</div>
