<li>
    <header>
        {@ header @}
    </header>
    <ol ng-if="insts.length > 0">
    <li ng-repeat="inst in insts | orderBy:'start_time'"
        class="inst-{@ inst.type | class_name @}"
        ng-editable-model="inst">
        <header>
            <div class="type">{@ translateInstanceType(inst.type) @}</div>
            <div class="name"><a name="inst{@ inst.id @}" class="text-type"
                    ng-editable="inst.name">
            </a></div>
            <div class="bizurs">
                <ul>
                    <!-- Too heavy to really implement it angularjs-wise; someone decided to comment it out
                    <li ng-repeat="person in inst.bizur_people | orderBy:'name'"
                        ng-bind-html="person | person_link:(person|person_short_name:inst.bizur_people) | safe">
                    </li>  -->
                    <li>מקום שמור</li>
                    <li>אנשים</li>
                    <li>לביזור</li>
                </ul>
            </div>
            <div class="status">
                סטטוס: 
                <span class="text" ng-pluralize count="(inst.tasks | unfinished_tasks).length" 
                when="{'0': 'לא נותרו משימות :)',
                       'one': 'נותרה משימה אחת',
                       'other': 'נותרו {} משימות'}">
            </div>
            <time ng-if="show_time" datetime="{@ inst.start_time @}" ng-bind="inst | get_inst_time_desc"></time>
        </header>
        <div>
            <article>
                <!-- The Comments article! --->
                <!-- {# data-input-type="wysiwyg" #} -->
                <p class="text-type" ng-editable="inst.comments"
                        ng-editable-expression="inst.comments || '<i>הוסף הערה...</i>'"
                        data-default-value="<i>הוסף הערה...</i>">
                </p>
            </article>
            <table>
                <thead>
                <tr>
                    <td>מעקבי שיעור</td>
                    <td>קבצים למופע</td>
                    <td>משימות</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="fu">
                        <ol>
                            <li ng-repeat="doc in inst.fu_files">
                                <a class="file-type {@ doc.file_type @}"
                                   href="{@ doc.file_url @}"
                                   title="{@ doc.file_full_name @}">{@ doc.file_full_name | truncate:20 @}</a>
                                <a ng-click="removeInstanceFU(doc, inst)" href>x</a>
                            </li>
                            <li ng-if="inst.fu_files.length == 0">אין מעקבי עבר... או שיש?</li>
                            <button class="template docx" ng-file-upload="/instances/{@ inst.id @}/fus/"
                                    with-filename ng-files-list="inst.fu_files">
                                                הוסף חדש...
                            </button>
                        </ol>
                    </td>
                    <td class="files">
                        <ul>
                            <li ng-repeat="doc in inst.run_files">
                                <a class="file-type {@ doc.file_type @}"
                                   href="{@ doc.file_url @}"
                                   title="{@ doc.file_full_name @}">{@ doc.file_full_name | truncate:20 @}</a>
                                <a ng-click="removeInstanceFile(doc, inst)" href>x</a>
                            </li>
                            <li ng-if="inst.run_files.length == 0">אין קבצים למופע</li>
                        </ul>
                        <button class="template docx" ng-file-upload="/instances/{@ inst.id @}/files/"
                                with-filename ng-files-list="inst.run_files">
                            הוסף חדש...
                        </button>
                    </td>
                    <td class="tasks">
                        <ol>
                            <li class="task-info" ng-repeat="task in inst.tasks | orderBy:priorityAsNumber"
                                data-task-id="{@ task.id @}" data-priority="{@ task.priority @}"
                                ng-init="myMouseClass = ''" ng-mouseleave="myMouseClass=''"
                                ng-mouseover="myMouseClass='hover'">
                                <input type="checkbox" ng-checked="task.is_done" ng-click="toggleTaskDone(task, inst)" />
                                <label class="text-type" ng-editable="task.text"></label>

                                <span ng-class="['priority-btns', myMouseClass]">
                                    <button ng-repeat="(priority, priorityInfo) in prioritiesSet"
                                        ng-style="priorityInfo.style"
                                        ng-class="['set-priority-btn', priority == task.priority ? 'chosen' : '']"
                                        ng-click="task.priority = priority; updateInstance(inst);">&#9899;</button>&nbsp;
                                    &nbsp;<button class='remove-btn' ng-click="removeTask(task, inst)">
                                            <span class='icon-trash'></span>
                                          </button>
                                </span>
                            </li>
                            <li data-instance-id="{@ inst.id @}" class="mock-element new-task-container">
                                <form><input type="checkbox" disabled="disabled" />
                                      <input type="text" ng-model="newTaskText" ng-trim="true"
                                             ng-keypress="addTask(newTaskText, inst, $event)" />
                                </form>
                            </li>
                        </ol>
                    </td>
                </tr>
            </table>
        </div>
    </li>
    </ol>
</li>
