{% extends "includes/base_array.html" %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/cuts.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/cuts/cuts-controllers.js"></script>
{%- endblock %}
{% block page_main %}
    <section ng-controller="CutsPlanCtrl" ng-init="instance_id = {{ instance_id }}">
        <header>
            <h1>תכנון חיתוכים</h1>
        </header>
        <section>
          <div style="margin-bottom: 40px">
          <h4>שלבים<h4>
        <hr />
          <ul>
            <li ng-repeat="phase in phases | orderBy:'order'" ng-editable-model="phase" class="phase">
              <h5 ng-editable="phase.name" ng-powertip class="name">
                <ng-actions>
                          <ul class="ltr">
                              <li class="up" ng-hide="isFirst(phase, phases)">
                                  <button title="הזז למעלה" ng-click="reorderPhase(phase, -1)">▲</button>
                              </li>
                              <li class="down" ng-hide="isLast(phase, phases)">
                                  <button title="הזז למטה" ng-click="reorderPhase(phase, +1)">▼</button>
                              </li>
                              <li class="destroy">
                                  <button title="מחק!" ng-click="removePhase(phase)"></button>
                              </li>
                          </ul>
                      </ng-actions>
            </h5>
              <span ng-editable="phase.description" class="description">
              </span>
            </li>
            <li>
              <span ng-click="addNewPhase()" class="btn btn-small btn-info"> + הוסף שלב חדש</span>
            </li>
          </ul>
        </div>
        <div>
          <h4>קבוצות</h4>
          <form class="floatcontainer">
            <div class="float-box">
              <label ng-repeat="room in rooms">
                <input type="checkbox" name="selectedRooms[]" value="{@ room.id @}" ng-model="room.selected"> {@room.name@}
              </label>
            </div>
            <div class="float-box">
              <label>כמות האנשים בכל קבוצה: <input type="number" ng-model="num_of_people" class="small-input" min="1" max="200"></label>
            </div>
            <input type="submit" ng-click="randomizeRooms()" class="btn btn-small btn-info" value="רנדם שיבוץ"</input>
          </form>
          <hr />
          <ul>
            <li class="not_placed">
              לא משובצים
              <ul>
                <li ng-repeat="member in members | filter:isNotPlaced | orderBy:'course_number'" class="member">
                  {@ member.course_number @}•{@member.name @}
                </li>
              </ul>
            </li>
            <li ng-repeat="room in rooms" class="room floatcontainer">
              {@ room.name @}
              <ul>
                <li ng-repeat="sg in small_groups | smartFilter:{room_id: room.id}" class="float-box small-group">
                  <ul>
                    <li ng-repeat="member in sg.members" class="member">
                      {@ member.course_number @}•{@member.name @}
                    </li>
                  </ul>
                </li>
                <li class="new-small-group small-group float-box">
                  &lt;קבוצה חדשה&gt;
                </li>
              </ul>
            </li>
          </ul>
        </section>
    </section>

{% endblock %}
