{% extends "includes/base_array.html" %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/cuts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/cuts/cuts-controllers.js"></script>
{%- endblock %}
{% block page_main %}
    <section ng-controller="CutsRunCtrl" ng-init="instance_id = {{ instance_id }}">
        <header>
            <h1>הרצת חיתוכים</h1>
        </header>
        <div class="pages-container fc">
          <section class="page focus">
            <select ng-options="room as room.name for room in rooms"
                      ng-model="selectedRoom"
                  <option value="">בחר/י חדר</option>
              </select>
              <div class="pull-left">
                הסתנכרן
                <ng-timeago time="last_fetch_time"></ng-timeago>
            </div>
            <table class="cuts table table-striped table-hover table-bordered table-condensed">
              <tr>
                <th>
                  חניכים
                </th>
                <th>
                  חיתוך אחרון
                </th>
                <th ng-repeat="phase in phases">
                  <span tooltip-html-unsafe="{@ phase.description @}">
                    {@ phase.name @}
                  </span>
                </th>
              </tr>

              <tr ng-repeat="sg in small_groups | smartFilter:{room_id: selectedRoom.id} | orderBy:'!newest_cut || newest_cut.timestamp'"> <!-- The orderBy order the small-groups from the oldest one to the newest one. -->
                <td>
                  <a ng-click="focus_on_small_group(sg)" href>
                    <span ng-repeat="member in sg.members">
                    {@ member.course_number @}•{@ member.name @}
                    {@ $last ? '' : ' + ' @}
                  </span>
                </a>
                </td>
                <td ng-if="sg.newest_cut">
                  <ng-timeago time="sg.newest_cut.timestamp"></ng-timeago>
                  על ידי 
                  {@ sg.newest_cut.cutter.name @}
                </td>
                <td ng-if="!sg.newest_cut">
                  טרם נחתכו
                </td>
                <td ng-repeat="phase in phases" class="phase">
                  <input type="checkbox" disabled="disabled" ng-checked="isPhaseDone(phase.id, sg.newest_cut.phases)" ng-if="sg.newest_cut" />
                </td>
              </tr>
            </table>
          </section>
          <section class="page">
            <a class="btn btn-info" ng-click="focus_on_small_group()" href>
              <i class="icon-share-alt icon-white"></i>
              חזור
            </a>
            <h2>
              <span ng-repeat="member in selected_small_group.members">
            {@ member.course_number @}•{@ member.name @}
            {@ $last ? '' : ' + ' @}
          </span>
        </h2>

            <hr>


                <section class="matrix-section">
              <table class="matrix">
                <tr>
                  <td>
                  </td>
                  <td ng-repeat="member in selected_small_group.members" class="mini-col">
                  <div class='member-num'>
                                {@ member.course_number || '?' @}
                            </div>
                            <div class='member-name' data-student-id="{@ member.id @}">
                                <a title="{@ member.name @}" href="/people/{@ member.id @}" target="_blank">{@ member.name @}</a>
                            </div>
                  </td>
                </tr>
                <tr ng-repeat="ex in exercises">
                  <td>
                    <a target="_blank" href="/arrays/{@ array.id @}/exercise/{@ ex.id @}">{@ ex.name @}</a>
                  </td>
                  <td ng-repeat="member in selected_small_group.members" class="{@ assignments[ex.id][member.id].state @} mini-col">
                    <a ng-if="assignments[ex.id][member.id]" target="_blank" href="/arrays/{@ array.id @}/assignments/{@ assignments[ex.id][member.id].id @}/review">V{@ assignments[ex.id][member.id].version @}</a>
                    <a href ng-click="removeAssignment(ex.id, member.id)" ng-show="isAssignmentRemovable(ex.id, member.id)">x</a>
                    <a href ng-hide="assignments[ex.id][member.id]" ng-click="addAssignment(ex.id, member.id)">+</a>
                  </td>
                </tr>
              </table>
            </section>
                <hr>
                <a class="btn mini-btn" ng-hide="new_cut_form_is_shown" ng-click="show_new_cut_form()" href>הוסף חיתוך</a>
            <section ng-show="new_cut_form_is_shown">
              <h3>חיתוך חדש</h3>
          <label>חותך:
            <select ng-options="person.id as person.name for person in staff" ng-model="new_cut.cutter"></select>
          </label>
          <label>תז"ק:
            <timepicker class="cut-time-picker" ng-model="new_cut.timestamp" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
          </label>
              <label>סיכום:</label>
              <textarea id="new_cut_comment" ui-tinymce="tinymceOptions" ng-model="new_cut.comment"></textarea>
              <label>שלבים:</label>
              <table class="phases table table-striped table-bordered table-condensed">
                <tr>
                  <th ng-repeat="phase in phases">
                    <span tooltip-html-unsafe="{@ phase.description @}">
                      {@ phase.name @}
                    </span>
                  </th>
                </tr>
                <tr>
                  <td ng-repeat="phase in phases" class="phase">
                    <input type="checkbox" ng-model="new_cut.phases[phase.id]"/>
                  </td>
                </tr>
              </table>
              <button class="btn btn-info" ng-click="save_new_cut()" ng-disabled="!save_new_cut_button_active">שמור</button>
            </section>
                <hr>
                <table class="cuts table table-striped table-bordered table-condensed">
              <tr>
                <th>
                  חיתוך אחרון
                </th>
                <th>
                  סיכום
                </th>
                <th ng-repeat="phase in phases">
                  <span tooltip-html-unsafe="{@ phase.description @}">
                    {@ phase.name @}
                  </span>
                </th>
                <th>
                  TODO: scores
                </th>
              </tr>
              <tr ng-repeat="row in selected_small_group.timeline">
                <!-- if row.type == 'cut' -->
                <td ng-if="row.type == 'cut'">
                  <ng-timeago time="row.time"></ng-timeago>
                  על ידי
                  {@ row.cut.cutter.name @}
                </td>
                <td ng-if="row.type == 'cut'" ng-bind-html="row.cut.comment | safe">
                </td>
                <td ng-if="row.type == 'cut'" ng-repeat="phase in phases" class="phase">
                  <input type="checkbox" disabled="disabled" ng-checked="isPhaseDone(phase.id, row.cut.phases)" />
                </td>

                <!-- if row.type == 'got_assignment' -->
                <td ng-if="row.type == 'got_assignment'" colspan="2000">
                  <ng-timeago time="row.time"></ng-timeago>
                  <i class="icon-gift"></i>
                  {@ row.ass.student.name @} קיבל/ה את <a target="_blank" href="/arrays/{@ array.id @}/exercise/{@ row.ass.exercise.id @}">{@ row.ass.exercise.name @}</a>
                </td>

                <!-- if row.type == 'submit' -->
                <td ng-if="row.type == 'submit'" colspan="2000">
                  <ng-timeago time="row.time"></ng-timeago>
                  <i class="icon-tag"></i>
                  {@ row.ass.student.name @} הגיש/ה גרסה {@ row.sub.version @} של <a target="_blank" href="/arrays/{@ array.id @}/assignments/{@ row.ass.id @}/review">{@ row.ass.exercise.name @}</a>
                </td>

                <!-- if row.type == 'review' -->
                <td ng-if="row.type == 'review'" colspan="2000">
                  <ng-timeago time="row.time"></ng-timeago>
                  <i ng-class="{'icon-thumbs-down': row.sub.state == 'resend', 'icon-thumbs-up': row.sub.state == 'done'}"></i>
                  {@ row.sub.reviewer.name @} בדק/ה את גרסה {@ row.sub.version @} של <a target="_blank" href="/arrays/{@ array.id @}/assignments/{@ row.ass.id @}/review">{@ row.ass.exercise.name @}</a> של {@ row.ass.student.name @} ונתן לו {@ row.sub.state @}
                </td>
              </tr>
            </table>

        </section>
      </div>
    </section>

{% endblock %}
