{% extends "includes/staff_base_with_sidebar.html" %}
{% from 'includes/links.html' import course_link %}

{% block window_title %}פוינטים ב{{ g.course.name }}{% endblock %}

{% block stylesheets %}
    {{  super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/points.css">
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/vendor/bootstrap.min.js"></script>
    <script src="/static/scripts/points/points-services.js"></script>
    <script src="/static/scripts/points/points-controllers.js"></script>
    <script src="/static/scripts/points/points-directives.js"></script>
{%- endblock %}

{% block page_title_text -%}
    <h4>{{ course_link(g.course, True) }} &raquo;</h4>
    <h1>פוינטים בקורס</h1>
{%- endblock %}

{%- block sidebar -%}
<ul class="tabs">
    <li class="pending{% if active_tab == 'pending' %} active{% endif %}"><a href="{{ url_for('ischool.manage_points') }}"><button class="tack"></button>הודעות ממתינות</a></li>
    <li class="closed{% if active_tab == 'closed' %} active{% endif %}"><a href="{{ url_for('ischool.manage_closed_points') }}"><button class="tack"></button>הודעות סגורות</a></li>
    <li class="saved{% if active_tab == 'saved' %} active{% endif %}"><a href="{{ url_for('ischool.manage_saved_points') }}"><button class="tack"></button>הודעות שמורות</a></li>
</ul>
{%- endblock -%}

{% block page_main %}
    <div ng-controller="PointsManagingCtrl" class="points" ng-init="init({{ g.course.id }}, '{{ active_tab }}')">
        <button class="btn" ng-click="staffPoint()" ng-hide="creatingStaffPoint">פנה לחניך</button>
        <span class="pull-left">
            חניך: <input type="text" ng-model="addedStudent"
                   typeahead="student as student.name for student in searchStudent($viewValue) | limitTo:8"
                   typeahead-template-url="/static/htmls/partials/search-result.html"
                   class="form-control" typeahead-on-select="selectFilteredStudent($item)" />
            <button ng-click="selectFilteredStudent(null)" ng-if="addedStudent" class="btn btn-danger">נקה</button>
           בחר חדר:
            <select ui-select2 ng-model="roomFilter.id" ng-change="nextNewestPoints()" class="input-medium">
                <option value="">כולם</option>
                <option value="{@ room.id @}" ng-repeat="room in rooms">{@ room.name @}</option>
            </select>
        </span>
        <div staff-point people="people" enabled="creatingStaffPoint" ng-show="creatingStaffPoint" course-id="courseId" rooms="rooms"></div>
        <div point-reply selected-point="selectedPoint" people="people" ng-show="selectedPoint"></div>
        <table class="table table-hover">
            <thead>
            <tr style="text-align: center">
                <th class="id"></th>
                <th class="type"></th>
                <th class="student">חניך</th>
                <th class="exercise">תרגיל</th>
                <th class="conversation">הודעה אחרונה</th>
                <th class="room">חדר</th>
                <th class="status">סטטוס טיפול</th>
                <th class="student-status">סטטוס (חניך)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="point in points | filter:filterByRoom | filter:filterByStudent | filter:staffStatusFilter"
                    class="point {@ point.type @}"
                    ng-class="{warning: point.staff_status == 'open', info: point.student_status != 'active'}">
                    <td class="id">{@ point.id @}</td>
                    <td class="type">
                        <span title="{@ point.type @}"
                              ng-class="{'icon-hand-up': point.type == 'exercise', 'icon-comment': point.type == 'general', 'icon-time': point.type == 'bathroom'}">
                        </span>
                    </td>
                    <td class="student"><span ng-bind-html="point.person | person_link | safe"></span></td>
                    <td class="exercise">
                        <a href="/arrays/{@ point.array_id @}/exercise/{@ point.assignment.exercise_id @}" ng-show="point.assignment_id">
                            {@ point.exercise_name @}
                        </a>
                        <br/>
                        <a href="/arrays/{@ point.array_id @}/matrix?assignment={@ point.assignment_id @}" ng-show="point.assignment_id">
                            למטריצה
                        </a>
                        <br/>
                        <a href="/arrays/{@ point.array_id @}/assignments/{@ point.assignment_id @}/review" ng-show="point.assignment_id">
                           להגשות
                        </a>
                    </td>
                    <td class="text">
                        <span ng-show="point.messages[point.messages.length - 1]">
                            <p ng-bind-html="point.messages[point.messages.length - 1].text"></p>
                            <ng-timeago time="point.messages[point.messages.length - 1].created_at"></ng-timeago>
                        </span>
                        <div>
                            <span ng-if="point.type != 'bathroom'">
                                <button ng-click="lockAndAnswer(point)"
                                        class="btn btn-link point answer"
                                        ng-hide="point.staff_status == 'handling'">
                                    נעל ושלח תגובה
                                </button>
                                <button ng-click="viewPoint(point)" class="btn btn-link point answer">צפה</button>
                            </span>
                            {% if active_tab == 'pending'  %}
                            <span ng-if="point.type == 'bathroom'">
                                <button ng-click="approveBathroom(point)" class="btn btn-link point answer" ng-hide="point.staff_status == 'approved'">אשר לצאת</button>
                            </span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="room">{@ rooms[point.room_id].name @}</td>
                    <td class="status">{@ hebrew_staff_status(point) @}</td>
                    <td class="student-status">
                        <span ng-show="point.student_status == 'active'">פעילה</span>
                        <span ng-hide="point.student_status == 'active'">כבויה</span>
                    </td>
                    <td class="actions">
                        <i ng-click="reopenPoint(point)" ng-hide="point.staff_status != 'closed'" class="icon-folder-open point-action" title="פתיחת ההודעה"></i>
                        <i ng-click="savePoint(point)" class="icon-star point-action" title="הוספה להודעות שמורות"></i>
                        <i ng-click="closePoint(point)" ng-hide="point.staff_status == 'closed'" class="icon-remove point-action" title="סגירת הודעה"></i><br/>
                        <i ng-click="trashPoint(point)" class="icon-trash point-action" title="מחיקת הודעה לאלתר (גם במסך החניך)"></i>
                        <i ng-click="unlockPoint(point)" ng-hide="point.staff_status != 'handling'" class="icon-lock point-action" title="הסרת נעילה"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="more-points">
            <button type="button" class="btn btn-default btn-lg" ng-click="nextNewestPoints()" href="">הודעות נוספות</button>
        </div>
    </div>
{% endblock %}
