{% macro single_message(message) %}
<div class='message'>
    <div class='who'>{{ message.person.name }}</div>
    <div class='when'>{{ message.created_at }}</div>
    <div class='text'>{{ message.text }}</div>
</div>
{% endmacro %}
