{% extends "includes/student_base_page.html" %}

{% from 'includes/links.html' import course_link %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/points.css">
<link rel="stylesheet" type="text/css" href="/static/css/student_base.css">
{% endblock %}

{% block page_title_text %}
<h4>{{ course_link(g.course, True) }} &raquo;</h4>
<h1>הודעות</h1>
{% endblock %}

{% block page_main %}
    <div ng-controller="StudentPointsNotifierCtrl" class="student-points-notifier" ng-init="personId = {{ g.person.id }}">
            השאר עמוד זה פתוח, והוא יודיע לך כשתקבל הודעות חדשות.
</div>
<div ng-controller="StudentPointsCtrl" class="student-points" ng-init="personId = {{ g.person.id }}">
    <div class="row-fluid">
        <div class="span8">
            <div class="pull-left">
                סנן לפי מערך:
                <a>
                    <select ng-model="selectedArrayId"
                        ng-options="arr.id as arr.name for arr in my_arrays"
                        ng-change="selectArrayChange(selectedArrayId)"
                        class="input-medium ng-pristine ng-valid">
                    </select>
                </a>
            </div>
            <br/>
            <div class="selected-point" ng-show="selectedPoint">
                <span title="{@ selectedPoint.type @}" ng-class="{'icon-hand-up': selectedPoint.type == 'exercise', 'icon-comment': selectedPoint.type == 'general', 'icon-time': selectedPoint.type == 'bathroom'}"></span>

                <form class="selected-reply">
                    <div>
                        <textarea ui-tinymce="tinymceReplyOptions" ng-model="replyText" required>></textarea>
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-primary btn-small" ng-click="sendReply()" type="submit">שלח</button>
                    </div>
                </form>

                <div ng-repeat="message in selectedPoint.messages | orderBy:'created_at' "
                     class="message">
                    <div class="text" ng-bind-html="message.text | safe">
                    </div>
                    <div><ng-timeago time="message.created_at"></ng-timeago></div>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="points-list">
                <div ng-repeat="point in points | filter:pointsFilter" class="point" ng-click="selectPoint(point)" ng-class="appliedClass(point)">
                    <div>
                        <span title="{@ point.type @}" ng-class="{'icon-hand-up': point.type == 'exercise', 'icon-comment': point.type == 'general', 'icon-time': point.type == 'bathroom'}"></span>
                        <span class="text"
                              title="{@ point.messages[0].text @}"
                              ng-bind-html="point.messages[0].text | safe">
                        </span>
                    </div>
                    <div>
                        <ng-timeago time="point.messages[point.messages.length - 1].created_at"></ng-timeago>
                        <!--i class="icon-remove pull-left" title="הסרה" ng-click="closePoint(point, $event)" ng-hide="point.removing"></i>
                        <img src="../../static/images/ajax-loader.gif" class="pull-left" ng-show="point.removing"-->
                    </div>
                </div>
                <!--a ng-show="hasHiddenPoints && !showingAll" ng-click="displayAll()">הצג הכל</a-->
                <a ng-show="!showingAll" ng-click="showMore()">הצג עוד</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
