{% extends "includes/student_base_page.html" %}

{% from 'includes/links.html' import course_link %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/points.css">
<link rel="stylesheet" type="text/css" href="/static/css/student_base.css">
{% endblock %}

{% block page_title_text %}
<h4>{{ course_link(g.course, True) }}</h4>
{% endblock %}

{% block page_main %}
<div ng-controller="StudentPointsNotifierCtrl" class="student-points-notifier" ng-init="personId = {{ g.person.id }}">
    ברוכים הבאים לקורס {{ g.course.name }}
    <br />
    השאר עמוד זה פתוח, והוא יודיע לך כשתקבל הודעות חדשות.
</div>
{% endblock %}
