{% extends 'includes/base_header.html' %}

{% from 'includes/links.html' import course_link %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/points.css">
<link rel="stylesheet" type="text/css" href="/static/css/student_base.css">
<style>
    .top-navigation-bar, #welcome-box {
        display: none;
    }
</style>
{% endblock %}

{% block window_title %}הודעה שלא נקראה{% endblock %}

{% block page_title_text %}
{% endblock %}

{% block page_init %}pointId = {{ point_id }}{% endblock %}

{% block page_main %}
<div ng-controller="StudentPointPopupCtrl" class="student-points">
    <div class="row-fluid">
        <div class="point selected-point">
            <span title="{@ point.type @}" ng-class="{'icon-hand-up': point.type == 'exercise', 'icon-comment': point.type == 'general', 'icon-time': point.type == 'bathroom'}"></span>
            <span ng-show="point.type == 'exercise'">{@ point.assignment.name @}</span>
            <span class="span8">
                <form class="reply">
                    <div>
                        <textarea ui-tinymce="tinymceReplyOptions" ng-model="replyText" required>></textarea>
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-primary btn-small" ng-click="sendReply()" type="submit">שלח</button>
                    </div>
                </form>
            </span>
            <span class="span4">
                <label>
                    הזכר לי עוד 
                    <select ng-model="remindIn">
                        <option value="60">דקה</option>
                        <option value="300">5 דקות</option>
                        <option value="600">10 דקות</option>
                        <option value="1800">חצי שעה</option>
                        <option value="7200">שעתיים</option>
                    </select>
                </label>
                <a class="btn btn-primary btn-small" ng-click="remindMeLater()" type="submit">הזכר לי מאוחר יותר</a>
            </span>

            <div ng-repeat="message in point.messages | orderBy:'id' "
                 class="message">
                <div class="text" ng-bind-html="message.text | safe">
                </div>
                <div><ng-timeago time="message.created_at"></ng-timeago></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_end_javascripts %}
    <script src="/static/scripts/points/student-points-controllers.js"></script>
{% endblock %}
