{% import 'includes/links.html' as links %}

{% macro show_groups(groups, curr_group, canonical, array, show_add_button) %}
    <nav class="groups">
    {%- if groups|length > 1 %}
        <label for="ap-group-select">קבוצה:</label>
        <select id="ap-group-select" data-base="{{ canonical }}">
            {%- for group in groups %}
                <option value="{{ group.id }}"{% if group == curr_group %} selected="selected"{% endif %}>{{ group.name }}</option>
            {%- endfor %}
        </select>
    {%- elif groups|length == 1 -%}
        קבוצה: <span data-id="{{ groups[0].id }}">{{ groups[0].name|escape }}</span>
    {%- else -%}
        לא הוגדרו קבוצות
    {%- endif %}
    </nav>
    {% if show_add_button %}
        <button class="add-new-group-btn add-new-btn" data-array="{{ array.id }}">הוספת קבוצה</button>
    {% endif %}
{% endmacro %}

{% macro instances_table(instances, array, group, unit_id=-1) %}
    {% set instances = instances|instances_of_group(group)|sort_items('order') %}
    <table class="array-plan{% if instances|length == 0 %} empty{% endif %}" data-arr-id="{{ array.id }}">
        <thead>
        <tr>
            <th class="id"></th>
            <th class="type"></th>
            <th class="name"></th>
            <th class="preferred">מומלץ</th>
            <th class="allocated">מוקצה</th>
            <th class="on-luz">שובץ</th>
            <th class="people">מבוזרים</th>
            <th class="reserve">תואם</th>
            <th class="tasks">משימות</th>
        </tr>
        </thead>
        <tbody>
        {%- for inst in instances %}
            {{ instance_table_row(inst, group) }}
        {%- endfor %}
        {{ mock_instance_table_row(group) }}
        <tr class="empty-message">
            <td colspan="9">לא קיימים מופעים. לחץ על "מופע חדש..." בשביל להוסיף חדשים</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            {%- from 'includes/api_macros.html' import editable_mock_element -%}
            <td class="total" colspan="3">
                {% if group %}
                <button class="add-new-btn add-new-instance-btn" data-arr-id="{{ group.array.id }}"
                        data-group-id="{{ group.id }}"{% if unit_id != -1 %} data-unit-id="{{ unit_id }}"{% endif %}>
                מופע חדש...
                </button>
                {% endif %}
                סה"כ:
            </td>
            <td class="preferred " {{ editable_mock_element(m.EducationUnit, 'total-preferred') }}
                    >{{ instances|sum_inst_suggested_hours|short_float }}</td>
            <td class="allocated " {{ editable_mock_element(m.EducationUnit, 'total-allocated') }}
                    >{{ instances|sum_inst_hours|short_float }}</td>
            <td class="on-luz " {{ editable_mock_element(m.EducationUnit, 'total-on-luz') }}
                    >{{ instances|sum_inst_luz_hours|short_float }}</td>
            <td colspan="3"></td>
        </tr>
        </tfoot>
    </table>
{% endmacro %}

{% from 'includes/api_macros.html' import editable_element, editable_mock_element %}
{% macro instance_table_row(inst, group) %}
    {% with luz_hours = inst.get_luz_hours() %}
    <tr class="inst-{{ inst.type }} instance-row">
        <td class="order " {{ editable_element(inst, 'order') }}>{{ inst.order }}</td>
        <td class="type  editable" {{ editable_element(inst, 'heb-type') }}>{{ inst.hebrew_type }}</td>
        <td class="name  editable text-type" {{ editable_element(inst, 'name') }}>{{ inst.name }}</td>
        <td class="preferred  editable number-type" {{ editable_element(inst, 'suggested_hours') }}
                >{{ inst.suggested_hours|short_float }}</td>
        <td class="allocated  number-type editable" {{ editable_element(inst, 'hours') }}
                >{{ inst.hours|short_float }}</td>
        <td class="on-luz " {{ editable_element(inst, 'on-luz') }}>
            {%- if luz_hours > 0 -%}
                <span class="icon win">&#10004;</span>
                <span class="value">({{ luz_hours|short_float }})</span>
            {%- else -%}
                <span class="icon fail">&#10008;</span>
                <span class="value"></span>
            {%- endif -%}
        </td>
        <td class="people">
            <ul>
                {% with bizur_people = inst.get_bizur_people()|sort_people -%}
                    {% for person in bizur_people %}
                        <li>{{ links.person_link(person, person|person_short_name(bizur_people)) }}</li>
                    {%- endfor %}
                {%- endwith %}
            </ul>
        </td>
        <td class="reserve">
            <a class="invoke-bizur-verify-dialog" href="" >
                {%- if not inst.is_needs_verifying() -%}
                <i>אין צורך</i>
                {%- elif inst.is_all_placements_verified -%}
                    <span class="icon win">&#10004;</span>
                {%- else -%}
                    <span class="icon fail">&#10008;</span>
                    &nbsp;תיאום...
                {%- endif -%}
            </a>
            <div style="display: none" class="verifiable-people" data-inst-order="{{ inst.order }}" data-inst-name="{{ inst.name }}">
                <ul>
                    {%- for bizur in inst.get_bizurs() -%}
                        <li>
                            <a href="{{ url_for('ischool.person_view', person_id=bizur.person.id) }}" {{ editable_element(bizur.placement) }}
                                data-base-type="placement"
                                data-person-id="{{ bizur.person.id }}" class="icon-remove-sign remove-btn"></a>
                            <a href="{{ url_for('ischool.person_view', person_id=bizur.person.id) }}" class="icon-user"></a>
                            <label for="isVerifiedBox_{{ inst.id }}_{{ bizur.person.id }}">
                                {{ bizur.person.name }}
                            </label>
                            {% if bizur.is_verifiable() -%}
                            <input type="checkbox" class="change-bizur-verify-status"
                                   id="isVerifiedBox_{{ inst.id }}_{{ bizur.person.id }}"
                                    {%- if bizur.is_verified %} checked="checked" {% endif -%}
                                    {{ editable_mock_element(m.AbstractPlacement, 'verified', bizur.placement.id) }}
                                    data-person-id="{{ bizur.person.id }}"
                                    title="תואם" />
                            {%- endif %}
                            {%- if bizur.person.service_type == 'reserve' %}
                                <a href="http://PATH/TO/FORM">[טופס מילואים...]</a>
                            {% endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </td>
        <td class="tasks">
            <a href="{{ url_for('ischool.array_run_view', arr=inst.array) }}#inst{{ inst.id }}">
                {%- with tasks_count = inst.tasks|length -%}
                    {%- if tasks_count > 0 -%}
                        {%- with unfinished_tasks_count = inst.get_unfinished_tasks()|length -%}
                            {%- if unfinished_tasks_count == 0 -%}
                                <span class="icon win">&#10004;</span>
                            {%- elif unfinished_tasks_count == 1 -%}
                                <span class="icon fail">&#10008;</span> אחת לא בוצעה
                            {%- else -%}
                                <span class="icon fail">&#10008;</span> {{ unfinished_tasks_count }} לא בוצעו
                            {%- endif -%}
                        {%- endwith -%}
                    {%- endif -%}
                {%- endwith -%}
            </a>
        </td>
    </tr>
    {% endwith %}
{% endmacro %}

{% macro mock_instance_table_row(group) %}
    {% set inst_type = 'lesson' %}
    <tr class="template inst-{{ inst_type }} instance-row mock-element">
        <td class="order " {{ editable_mock_element(m.LessonInstance, 'order') }}></td>
        <td class="type " {{ editable_mock_element(m.LessonInstance, 'heb-type') }}>שיעור</td>
        <td class="name  editable text-type" {{ editable_mock_element(m.LessonInstance, 'name') }}>שיעור חדש</td>
        <td class="preferred  editable number-type" {{ editable_mock_element(m.LessonInstance, 'suggested_hours') }}
                >0</td>
        <td class="allocated  editable number-type" {{ editable_mock_element(m.LessonInstance, 'hours') }}
                >0</td>
        <td class="on-luz">
            {% with luz_hours = 0 %}
                {%- if luz_hours > 0 -%}
                    <span class="icon win">&#10004;</span>
                    <span class="value">({{ luz_hours|short_float }})</span>
                {%- else -%}
                    <span class="icon fail">&#10008;</span>
                    <span class="value"></span>
                {%- endif -%}
            {% endwith %}
        </td>
        <td class="people">
            <ul>
            </ul>
        </td>
        <td class="reserve">
            <a class="invoke-bizur-verify-dialog" href="" >
                <i>אין צורך</i>
            </a>
        </td>
        <td class="tasks">
        </td>
    </tr>
{% endmacro %}

{% from 'includes/api_macros.html' import editable_element, editable_mock_element %}
{% macro placements_dialog(inst) %}
    <div style="display: none" class="placements" data-inst-order="{{ inst.order }}" data-inst-name="{{ inst.name }}">
        <ul>
            {%- for placement in inst.placements -%}
                {%- if placement.__tablename__ == 'planned_placements'-%}
                    <li>
                        <p>Type: {{ placement.__tablename__ }}</p>
{#                        <input type="checkbox" class="editable" {{ editable_mock_element(bizur.placement.id, 'abs-place', 'verified-%d' % bizur.person.id) }} title="" />#}
{#                        &nbsp;{{ links.person_link(bizur.person) }}&nbsp;#}
                    </li>
                {%- else -%}
                    <li>
                        <p>Type: {{ placement.__tablename__ }}</p>
                        <p>Display name: {{ placement.display_name}}</p>
{#                        <input type="checkbox" class="editable" {{ editable_mock_element(bizur.placement.id, 'abs-place', 'verified-%d' % bizur.person.id) }} title="" />#}
{#                        &nbsp;{{ links.person_link(bizur.person) }}&nbsp;#}
                    </li>
                {%- endif -%}

            {%- endfor -%}
        </ul>
    </div>
{% endmacro %}
