{% extends 'includes/base_header.html' %}

{% block page_classes %}{{ super() }} with-sidebar{% endblock %}

{% block page_inside -%}
{{ super() }}
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>
{%- endblock %}

{% block page_main_control -%}
    <i id="sidebar-toggler" class="icon-chevron-right" title="מזעור או הגדלת סרגל הצד"></i>
{%-endblock %}
