{% extends "includes/staff_base_with_sidebar.html" %}
{% block window_title %}{{ array.name }}{%- endblock %}
{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/arrays.css">
{% endblock %}
{% block page_end_javascripts -%}
<script src="/static/scripts/array/array-controllers.js"></script>
{%- endblock %}
{% block page_controller %}ArrayPageCtrl{% endblock %}
<!-- Warning! page_init must NOT contain apostrophes! -->
{% block page_init %}
arrayId = {{ array.id }};
arrayName = '{{ array.name }}';
{% endblock %}
{% from 'includes/api_macros.html' import editable_element %}
{% from 'includes/links.html' import course_link %}
{% block page_title_text -%}
    <h4><span ng-bind-html="course | course_link:true | safe"></span> &raquo;</h4>
    <h4><a href="{{ url_for('ischool.arrays_view', course=array.course) }}">מערכים</a> &raquo;</h4>
    <h1 class="text-type">{{ array.name }}</h1>
{%- endblock %}
{% block sidebar -%}
    <div class="leader pagination-centered"> מגמה:
        <span ng-if="track.name"
              ng-bind-html="track.name | safe"></span>
        <span ng-if="!track.name">אין</span>
    </div>
    <div class="leader pagination-centered"> {@ array.manager | personalize_message:'אחראי מערך':'אחראית מערך'@}:
        <span ng-if="array.manager"
              ng-bind-html="array.manager | person_link | safe"></span>
        <span ng-if="!array.manager">אין</span>
    </div>
    <div class="leader pagination-centered"> {@ selected.group.manager | personalize_message:'אחראי כיתה':'אחראית כיתה'@}:
        <span ng-if="selected.group.manager"
              ng-bind-html="selected.group.manager | person_link | safe"></span>
        <span ng-if="!selected.group.manager">אין</span>
    </div>
    <div class="leader pagination-centered"> רמה:
        <span ng-bind-html="selected.group.level | safe"></span>
    </div>
    <div ng-controller="ManageArrayCtrl">
        {% include 'array-modify.html' %}
        <div class="pagination-centered">
        <span class="modify-array">
            <button class="btn btn-small btn-info" ng-click="openManageArrayModal(array)">ערוך מערך</button>
        </span>
        </div>
    </div>
    <ul class="tabs" ng-init="menuMode = '{{ active_tab }}'; menuItems = [
                {mode: 'plan', text: 'תכנון מערך'},
                {mode: 'exercise/plan', text: 'תכנון תרגילים'},
                {mode: 'exercise/schedule', text: 'שיבוץ תרגילים'},
                {mode: 'run', text: 'הרצת מערך'},
                {mode: 'matrix', text: 'מטריצות'},
            ]">
        <li ng-repeat="item in menuItems" class="{@ item.mode | class_name @}"
            ng-class="(menuMode == item.mode ? 'active' : '') + ' ' + (item.separated ? 'separated' : '')"
            ng-click="setArrayPageMode(item.mode);">
            <a href="/arrays/{@ array.id @}/{@ item.mode @}"><button class="tack"></button>{@ item.text @}</a>
       </li>
    </ul>
    <!-- TODO: recover this piece of code when restoring the bizur & placements logic
    <div class="box teachers">
        <header><h2></h2> <a class="extra-details"
                                  href="/arrays/teachers-of-array/{{ array.id }}"></a>
        </header>
        <table ng-if="array.teachers.length">
            <tr ng-repeat="teacher in array.teachers | orderBy:'name'">
                <td class="person" ng-bind-html="teacher | person_link | safe"></td>
                <td class="phone">{@ teacher.contact_details[0].value @}</td>
            </tr>
        </table>
        <div ng-if="!array.teachers.length"></div>
    </div> -->
    <div class="box docs">
        <header><h2>מסמכים</h2></header>
        <ul>
            <li ng-repeat="file in array.files track by file.id">
                <a class="file-type {@ file.file_type | class_name @}"
                   href="{@ file.file_url @}">{@ file.file_name @}</a>
            </li>
        </ul>
    </div>
{%- endblock %}
