{% import 'includes/links.html' as links %}
<!DOCTYPE html>
<html ng-app="iSchool">
<head>
    <title>{% block window_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-rtl.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dialogs.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor-css/jquery.powertip-light.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor-css/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/static/vendor-css/select2-patches.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block stylesheets %}{% endblock %}
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    <script>
        // For older browser (internet explorer) that won't recognize
        // HTML5 tags without these lines...
        document.createElement("header");
        document.createElement("aside");
        document.createElement("nav");

            window.env = {
                {% if g.person -%}
                    person: {{ g.person | jsonify | safe }}
                    {%- if g.course %},
                        course: {{ g.course | jsonify | safe }}
                    {% endif -%}
                {%- endif %}
            };
    </script>
</head>
<body ng-controller="AppCtrl">
<div ng-controller="PersonHeaderCtrl">
<div id="top-bar" ng-if="person && person.main_course" ng-cloak>
    <div id="welcome-box" class="btn-group" dropdown>
        <label type="button" class="btn btn-small" data-toggle="dropdown">
                    שלום
                    {@ person.name @}
        </label>
        <button type="button" class="btn btn-small dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li ng-if="person.role != 'student'">
                <a class="log-out-link" href="/people/{@ person.id @}">צפה בפרופיל</a>
            </li>
            <li class="divider" ng-if="person.role != 'student'"></li>
            <li>
                <a class="log-out-link" href="/changePassword">שנה סיסמה</a>
            </li>
            <li>
                <a class="log-out-link" href="/logout"> {@ person | personalize_message: 'התנתק': 'התנתקי' @}</a>
            </li>
        </ul>
    </div>
    <div id="omni-search" ng-if="person.role != 'student'" ng-controller="OmniSearchCtrl">
        <input type="text" placeholder="הקלד פה שם של חניך, איש או מערך"
                ng-model="searchQuery" typeahead-wait-ms="100"
                typeahead="result as result.name for result in performSearch($viewValue)"
                typeahead-template-url="/static/htmls/partials/search-result.html"
                typeahead-on-select='onSelect($item, $model, $label)' />
    </div>
</div>
<div id="center-column" class="{% block page_classes %}{% endblock %}">
    {% block page_title %}
    <header id="page-title">
        {% block page_title_text %}{% endblock %}
    </header>
    {% endblock %}

    <header id="page-header">
        <div id="floating-page-header"></div>
        <div class="gradient"></div>
    </header>
    <div ng-init="{% block page_init %}{% endblock %}">
        <section ng-cloak ng-controller="{% block page_controller %}DefaultPageCtrl{% endblock %}">
            {% block top_nav %}
            <div class="top-navigation-bar">
                {% block top_nav_content %}{% endblock %}
            </div>
            {% endblock %}

            <div style="position:fixed; width:90%; z-index: 10;top:2%;right:5%">
                <alert ng-repeat="alert in alerts" type="{@ alert.type @}" close="closeAlert($index)"><span style="display: inline-block;" ng-bind-html="alert.msg" /></alert>
            </div>

            {% block page_outside %}
            <div class="content-area">
            {%- block page_inside %}
                <div class="page-main">
                    {% block page_main_control %}{% endblock %}
                    {% block page_main %}{% endblock %}
                    <hr class="break"/>
                </div>
            {% endblock page_inside -%}
            </div>
            {% endblock %}
        </section>
    </div>
</div>
<script src="/static/scripts/vendor/jquery-2.0.3.js"></script>
<script src="/static/scripts/vendor/jquery-ui.min.js"></script>
<script src="/static/scripts/vendor/base2.js"></script>
<script src="/static/scripts/common.js"></script>
<!-- TODO: Remove me: -->
<script src="/static/scripts/deprecated/api.js"></script>
<!-- ENDTODO -->
<script src="/static/scripts/vendor/auto-grow-input.js"></script>
<script src="/static/scripts/vendor/jquery.powertip.min.js"></script>
<script src="/static/scripts/vendor/underscore.js"></script>
<script src="/static/scripts/vendor/moment.min.js"></script>
<script src="/static/scripts/vendor/moment.he.js"></script>
<script src="/static/scripts/vendor/select2.min.js"></script>
<script src="/static/scripts/vendor/tinymce/tinymce.min.js"></script>
<script src="/static/scripts/vendor/tinymce/jquery.tinymce.min.js"></script>
<script src="/static/scripts/vendor/angular/angular.min.js"></script>
<script src="/static/scripts/vendor/angular/angular-sanitize.min.js"></script>
<script src="/static/scripts/vendor/angular/ui-bootstrap.js"></script>
<script src="/static/scripts/vendor/angular/restangular.min.js"></script>
<script src="/static/scripts/vendor/angular-ui-select2.js"></script>
<script src="/static/scripts/vendor/angular/ui-tinymce.js"></script>
<script src="/static/scripts/app/app.js"></script>
<script src="/static/scripts/app/app-services.js"></script>
<script src="/static/scripts/app/app-controllers.js"></script>
<script src="/static/scripts/app/app-filters.js"></script>
<script src="/static/scripts/app/app-inline-editable.js"></script>
<script src="/static/scripts/app/app-powertip.js"></script>
<script src="/static/scripts/app/app-file-upload.js"></script>
<script src="/static/scripts/theme-changer.js"></script>
{% block nav_end_javascripts %}{% endblock %}
{% block page_end_javascripts %}{% endblock %}
</body>
</html>
