{% extends "includes/base_with_sidebar.html" %}
{% block window_title %}בדיקת תרגילים{%- endblock %}
{% block stylesheets %}
{{ super() }}
{% endblock %}


{% block page_title_text -%}
    <h4><span ng-bind-html="course | course_link:true | safe"></span> &raquo;</h4>
    <h1>בדיקת תרגילים</h1>
{%- endblock %}
{% block sidebar -%}
    <ul class="tabs" ng-init="menuMode = '{{ active_tab }}'; menuItems = [
                {mode: '', text: 'תרגילים לבדיקה'},
                {mode: 'criteria', text: 'מחוונים להערכת תרגילים'},
                {mode: 'checkers_rules', text: 'נהלי בדיקת תרגילים'}
            ]">
        <li ng-repeat="item in menuItems" class="{@ item.mode | class_name @}"
            ng-class="(menuMode == item.mode ? 'active' : '') + ' ' + (item.separated ? 'separated' : '')">
            <a href="/courses/{@ course.eng_name @}/{@ item.mode @}"><button class="tack"></button>{@ item.text @}</a>
       </li>
    </ul>
{%- endblock %}
