{% macro file_link(file_rev) -%}
    <a href="{{ file_rev|file_url }}" class="{{ file_rev.file_type }}">{{ file_rev.file_name }}</a>
{%- endmacro %}

{% macro person_link(person, name=None) -%}
    {% if name == None %}
        {% set name = person.name %}
    {% endif %}
    <a href="{{ url_for('ischool.person_view', person_id=person.id) }}">{{ name }}</a>
{%- endmacro %}

{% macro course_link(course, show_icon=False) -%}
    {%- set cls = "course-link " + course.eng_name|lower -%}
    {%- if show_icon -%}
        {%- set cls = cls + " icon" -%}
    {%- endif -%}
    <a href="{{ url_for('ischool.course_view', course=course) }}" class="{{ cls }}">{{ course.name }}</a>
{%- endmacro %}
