{% extends "includes/staff_base_with_sidebar.html" %}

{% import 'includes/links.html' as links %}
{% from 'includes/api_macros.html' import editable_element %}

{% block stylesheets %}{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/person-page.css" />
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/person/person-controllers.js"></script>
    <script src="/static/scripts/person/person-filters.js"></script>
{%- endblock %}

{% set is_student = g.person.role == 'student' %}

{% block window_title %}{{ person.name }}{% endblock %}

{% block page_controller %}PersonPageCtrl{% endblock %}
{% block page_init %}personId = {{ person.id }}{% endblock %}

{% block page_title_text %}
    <h4><a href="{{ url_for('ischool.person_list_view') }}">אנשים</a> &raquo;</h4>
    <h1 class="text-type">{{ person.name }}</h1>
{% endblock %}


{% block sidebar %}
    <ul class="tabs">
        <li class="overview{% if active_tab == 'overview' %} active{% endif %}"><a href="/people/{@ person.id @}"><button class="tack"></button>מידע כללי</a></li>
        <li class="groups{% if active_tab == 'groups' %} active{% endif %}" ng_if="person.role == 'student'"><a href="/people/{@ person.id @}/groups"><button class="tack"></button>קבוצות</a></li>
        <li class="scores{% if active_tab == 'scores' %} active{% endif %}" ng_if="person.role == 'student'"><a href="/people/{@ person.id @}/scores"><button class="tack"></button>מדידה</a></li>
	    <li class="wall{% if active_tab == 'wall' %} active{% endif %}" ng_if="person.role == 'student'"><a href="/people/{@ person.id @}/wall"><button class="tack"></button>wall</a></li>
        <li class="meetings{% if active_tab == 'meetings' %} active{% endif %}" ng_if="person.role == 'student'"><a href="/people/{@ person.id @}/meetings"><button class="tack"></button>שיחות אישיות</a></li>
        <li class="megamatrix{% if active_tab == 'megamatrix' %} active{% endif %}" ng_if="person.role == 'student'"><a href="/people/{@ person.id @}/megamatrix"><button class="tack"></button>מגה מטריצה</a></li>
        <li class="points" ng_if="person.role == 'student'"><a href="/points/student/{@ person.id @}"><button class="tack"></button>כל הפוינטים</a></li>
    </ul>

    <div class="box phones">
        <header><h2>טלפונים</h2></header>
        <table>
            <tr ng-repeat="contact in person.contact_details track by contact.id"
                ng-editable-model="person" ng-powertip>
                <td class="type text-type" ng-editable="contact.type" select-type="{
                    'cellphone': 'טלפון נייד',
                    'home_phone': 'בית',
                    'office_phone': 'משרד',
                    'green_phone': 'טלפון ירוק',
                    'extension': 'שלוחה',
                    'matkali': 'טלפון מטכ&quot;לי',
                    'red_phone': 'טלפון אדום',
                    'address': 'כתובת',
                    'voip': 'VoIP'
                }"></td>
                <td class="phone text-type" ng-editable="contact.value" text-type></td>
                <td ng-actions>
                    <ul class="ltr">
                        <li class="destroy">
                            <button title="מחק!" ng-click="removeContact(person, contact)"></button>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <button class="add-new-btn" ng-click="addContact(person)">הוספת מספר</button>
    </div>
{% endblock %}

{% macro track_link(track) -%}
    <a href="{{ url_for('ischool.track_view', track_name=track.eng_name|lower, course=track.course) }}">{{ track.name }}</a>
{%- endmacro %}
