{% extends 'includes/base_header.html' %}

{% from 'includes/links.html' import course_link %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/twitter.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mentionsInput.css"/>
{% endblock %}
{% block nav_end_javascripts %}
    {{ super() }}
    <script src="/static/scripts/twitter/twitter-controllers.js"></script>
    <script src="/static/scripts/twitter/twitter-directives.js"></script>


    <script src="/static/scripts/vendor/jquery.elastic.js"></script>
    <script src="/static/scripts/vendor/jquery.events.input.js"></script>
    <script src="/static/scripts/vendor/jquery.mentionsInput.js"></script>
    <script src="/static/scripts/vendor/jquery.scrollto.js"></script>

    <script src="/static/scripts/vendor/staff-nav-controller.js"></script>
{% endblock %}
{% from 'includes/api_macros.html' import editable_element %}

{% block window_title %}{% endblock %}
{% block page_title_text %}
    <h4>{{ course_link(g.course, True) }} &raquo;</h4>
    <h1>ראשי</h1>
{% endblock %}

{% block top_nav_content %}
<div ng-controller="StaffNaveCtrl" class="staff-navigation-bar" >
    <div class="btn btn-small">
        <a href="{{ url_for('ischool.arrays_view') }}">מערכים</a>
    </div>
    <div class="btn btn-small margin-right-btn">
        <a href="{{ url_for('ischool.manage_points') }}">פוינטים</a>
    </div>
    <div class="btn btn-small margin-right-btn">
        <a href="{{ url_for('ischool.person_list_view') }}">אנשים</a>
    </div>
    <div class="btn btn-small margin-right-btn">
        <a href="{{ url_for('ischool.twitter_home_page') }}">טוויטים</a>
    </div>
    <div ng-click="tweeterMode()" class="btn btn-success btn-small margin-right-btn" type="button">QuickTweet</div>
    <textarea class="twitterbox" ng-show="tweetMode" ng-twitterBox></textarea>
{% endblock %}
</div>

{% block sidebar %}
    <ul class="nav nav-list">
    </ul>
{% endblock %}

{% block page_main %}
    <div>ברוכים הבאים ל{{ course.name }}!</div>
{% endblock %}

{% block page_end_javascripts %}
{% endblock %}
