{% extends "includes/base_with_sidebar.html" %}

{% from 'includes/links.html' import course_link %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/student_base.css">
{% endblock %}
{% from 'includes/api_macros.html' import editable_element %}

{% block window_title %}{{ course.name }}{% endblock %}
{% block page_title_text %}
    <h4>{{ course_link(g.course, True) }} &raquo;</h4>
    <h1>ראשי</h1>
{% endblock %}

{% block page_init %}personId = {{ g.person.id }};{% endblock %}
{% block page_controller %}StudentPointsGlobalCtrl{% endblock %}

{% block top_nav_content %}
    <div class="student-points row-fluid point-actions left">
        <div class="navbar">
            <div class="navbar-green-gradient">
                <ul class="nav">
                    <li class="divider-vertical divider-ischool">
                        <button class="btn-navbar-link-ischool btn btn-link" ng-click="newBathroomPoint()" ng-show="newPointRoom">
                            <span class="icon-time"></span> שירותים
                        </button>
                    </li>
                    <li class="divider-vertical divider-ischool">
                        <button class="btn-navbar-link-ischool btn btn-link" ng-click="newTechnicalPoint()" ng-show="newPointRoom">
                            <span class="icon-comment"></span> טכני
                        </button>
                    </li>
                    <li id="newExercisePointBtn" class="divider-vertical divider-ischool">
                        <button class="btn-navbar-link-ischool btn btn-link" ng-click="newExercisePoint()" ng-show="newPointRoom">
                            <span class="icon-hand-up"></span> תרגיל
                        </button>
                    </li>
                    <li id="toArraysBtn" class="divider-vertical divider-ischool">
                        <a target="_blank" href="{{ url_for('ischool.default_view') }}">מערכים</a>
                    </li>
                    <li id="toMessagesBtn" class="divider-vertical divider-ischool">
                        <a href="{{ url_for('ischool.student_points_view') }}">הודעות</a>
                    </li>
                    <li class="divider-vertical divider-ischool" style="width: 150px;">
                        <a style="padding: 5px; width: inherit;">
                            <select style="width: 100px;float: left" ng-options="room as room.name for room in rooms"
                            ng-model="newPointRoom"
                            ng-change="chooseRoom(newPointRoom)"
                            class="input-medium transparent-ischool-select"
                            required
                            id="roomDropDownCtrl">
                                <option value="">בחר</option>
                            </select>
                            <label for="roomDropDownCtrl">כיתה:</label>
                        </a>
                    </li>
                </ul>
                <ul id="arrayDropDown" class="nav pull-right">

                    <li class="divider-vertical divider-ischool" style="width: 150px;">
                        <a style="padding: 5px; width: inherit;">
                            <select ng-model="selectedArrayId" 
                                    ng-options="arr.id as arr.name for arr in my_arrays | orderBy: 'name'"
                                    ng-change="selectArrayChange(selectedArrayId)"
                                    class="array-selection transparent-ischool-select js-array-selection"
                                    style="width: 100px;"
                                    id="arrayDropDownCtrl">
                            </select>
                            <label for="arrayDropDownCtrl">מקצוע:</label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <script type="text/ng-template" id="newPointForm.html">
            <div class="modal-header
                <h3>הודעה חדשה</h3>
                <!--<h5 ng-if="newPoint.type == 'exercise'">תרגיל - {@ @}</h5>-->
            </div>

            <div class="modal-body">
                <div class="new-point" ng-show="newPoint">
                    <span title="{@ newPoint.type @}" ng-class="{'icon-hand-up': newPoint.type == 'exercise', 'icon-comment': newPoint.type == 'general'}"></span>
                    <form ng-submit="createPoint()" name="form" novalidate>
                        <div>
                            <textarea ui-tinymce="tinymceOptions" ng-model="newPoint.messages[0].text" required ng-disabled="creatingPoint"></textarea>
                        </div>
                        <br />
                        <button class="btn btn-primary" type="submit" ng-disabled="creatingPoint || form.$invalid">שלח</button>
                        <label class="btn btn-delete" ng-click="cancel()">סגור</label>
                    </form>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="goToBathroomAlready.html">
            <div class="modal-body" style="padding: 0;">
                <img src="/static/images/header.jpg" style="width: 600px; height: 350px;" ng-click="cancel()" />
            </div>
        </script>

    </div>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list" ng-controller="StudentAssignmentsSidebarCtrl">
        <li ng-repeat="assignment in my_assignments | orderBy:assignment.id" 
            ng-class="{active: selectedAssignmentId == assignment.id}">
            <a class="clickable" ng-class="{unread_review: assignment.is_read == false}" ng-click="assignmentClick(assignment.id)">
                    <span class="label assignment-label"
                        ng-class="{ done: 'label-success', 
                                    resend: 'label-important', 
                                    in_progress: 'label-warning'}[assignment.state]"
                    >{@ state_to_hebrew(assignment.state) @}</span>
                {@ assignment.name @}</a>
        </li>
        <li ng-if="!my_assignments || my_assignments.length == 0">
            אנא בחר מקצוע
        </li>
    </ul>
{% endblock %}
{% block page_main %}
    <div>ברוכים הבאים ל{{ course.name }}!</div>
{% endblock %}
{% block page_end_javascripts %}
    <script src="/static/scripts/points/points-services.js"></script>
    <script src="/static/scripts/points/student-points-controllers.js"></script>
{% endblock %}
