{% extends "includes/base_array.html" %}
{% set active_tab = 'matrix' %}
{% from 'includes/links.html' import person_link %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}
{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/matrix/matrix-controllers.js"></script>
{%- endblock %}
{% block page_main %}
    <section class="matrix-section" ng-controller="MatrixCtrl">
        <header>
            <h1>
                מטריצת הרצת תרגילים
            </h1>
            <nav class="groups" ng-include="'/static/htmls/partials/groups-nav.html'"></nav>
        </header>
        <br style="clear: both" />
        <div class="pull-left">
            הסתנכרן
            <ng-timeago time="last_fetch_time"></ng-timeago>
        </div>
        <label>הצג בודקים: <input type="checkbox" ng-model="show_checkers"/></label>
        <div ng-show="show_checkers" class='checkers'>
            <span ng-powertip ng-repeat='checker_id in checkers_in_array'>
                <button class="btn {@ checker_id == highlighted_checker_id ? 'btn-warning': 'btn-info' @}"
                        ng-click='toggle_checker_highlight(checker_id)'>
                {@ checkers[checker_id].name @}
                </button>
                <ng-actions>
                    <ul class="ltr">
                        <li class="destroy">
                            <button title="מחק!" ng-click="remove_checker(checker_id)"></button>
                        </li>
                    </ul>
                </ng-actions>
            </span>
            <select id="new-checker" ng-options="id as checker.name for (id, checker) in checkers" ng-model="new_checker" ng-change="add_new_checker()" class="input-medium"></select>
            <!-- TODO: show only the checkers that not in checkers_in_array -->
        </div>

        <ng-include src="'/static/htmls/partials/matrix-block.html'"></ng-include>

    </section>
{% endblock %}
