{% extends "includes/person_base.html" %}

{% block stylesheets %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/excercise-status.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/matrix.css">
{% endblock %}

{% block page_end_javascripts -%}
    {{ super() }}
    <script src="/static/scripts/person/person-groups-controllers.js"></script>
    <script src="/static/scripts/person/person-mega-matrix.js"></script>
    <script src="/static/scripts/matrix/matrix-controllers.js"></script>
    <script src="/static/scripts/matrix/static-matrix-controllers.js"></script>
{%- endblock %}

{% set active_tab = 'megamatrix' %}

{% block page_main %}
    <section ng-controller="MegaMatrixCtrl" class="mega-matrix" ng-init="personId = person.id">
        <h2>קבוצות של {{ person.name }}</h2>
        <ul class="groups-list">
            <li ng-repeat="array in arrays">
                קבוצות ב<span ng-bind-html="array | array_link"></span>:
                <label class="checkbox-label {@ selectedGroups[group.id] ? 'checked-checkbox-label' : '' @}" ng-repeat="group in groups[array.id]"
                        href="/arrays/{@ array.id @}/matrix#?group={@ group.id @}">
                    <input type="checkbox" ng-model="selectedGroups[group.id]"/> {@ group.name @}
                </label>
            </li>
        </ul>

        <h3>קבוצות שנבחרו:</h3>

        <div class='minimatrix-container' ng-repeat="array in arrays">
            <div class='minimatrix' ng-if="selectedGroups[group.id]" ng-repeat="group in groups[array.id]">
                <h3>{@ array.name @} / {@ group.name @}</h3>

                <section class="matrix-section" ng-controller="StaticMatrixCtrl" ng-init="initialize(array, group, person);">
                    <div class="pull-left">
                        הסתנכרן
                        <ng-timeago time="last_fetch_time"></ng-timeago>
                    </div>
                    <br />
                    <ng-include src="'/static/htmls/partials/matrix-block.html'"></ng-include>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
