@mixin background-opacity($color, $opacity) {
  $changed: rgba($color, $opacity);
  background: $changed;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($changed)}, endColorstr=#{ie-hex-str($changed)});
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{ie-hex-str($changed)}, endColorstr=#{ie-hex-str($changed)})";
}
