.schedule-exercise-form {
	display: none;
	background: #EDF2FF;
	//border: 1px solid rgba(160, 185, 204, 0.22);
	//border-top: 0;
	//border-bottom-left-radius: 5px;
	//border-bottom-right-radius: 5px;
	td:first-child {
		background: white;
		border-left: 1px solid rgba(160, 185, 204, 0.22);
	}

}

.exercise_instance {
	background: #EDF2FF;
	td:first-child {
		background: white;
		border-left: 1px solid rgba(160, 185, 204, 0.22);
	}
}

.inst .name {
	width: 250px;
}

.order {
	.disable {
		opacity: 0.3;
		visibility: hidden;
		cursor: normal;
	}

	.value {
		width: 20px;
		display: inline-block;
		text-align: center;
	}

	.unusable-arrow {
		visibility: hidden;
	}
}
