ol, ul { list-style: none; padding: 0; }

@import 'compass/css3';

ol.weeks {
  width: 620px;
  margin-right: 5px;
  font-size: 11pt;

  & > li {
    position: relative;

    & > header {
      font-family: "Segoe UI";
      font-size: 18pt;
      font-weight: 100;
      color: #A6A6A6;

      & > div {
        font-family: Arial;
        font-size: 10pt;
        position: absolute;
        left: 5px;
        margin-top: -18px;
      }
    }

    & > ol {
      margin-top: 5px;

      & > li {
        margin-top: 8px;
        margin-bottom: 8px;
        overflow: auto;
        @include border-radius(4px);
        border-right: 2px solid #000;

        &.inst-tamak {
          border-right-color: #F8A662;
        }

        &.inst-cut {
          border-right-color: #B4E25A;
        }

        &.inst-lesson {
          border-right-color: #46CC3B;
        }

        &.inst-self-work {
          border-right-color: #A863F7;
        }

        &.inst-self-learn {
          border-right-color: #CA6E6C;
        }

        &.inst-targil {
          border-right-color: #C1680F;
        }

        &.inst-project {
          border-right-color: #16C1EF;
        }

        & > header {
          font-size: 10pt;
          padding: 3px 8px;
          background: #e8e8e8;
          border: #e8e8e8 solid 1px;

          div.name, div.bizurs, div.status, & > time {
            display: inline-block;
          }

          div.name {
            min-width: 25%;
            font-weight: bold;
            font-size: 16px;
            margin-left: 20px;
          }

          div.bizurs {
            margin-left: 20px;
            min-width: 28%;
            & > ul {
              display: inline-block;
              & > li {
                display: inline-block;
                &:after {
                  content: ',';
                }
                &:last-child:after {
                  content: '';
                }
              }
            }
          }

          div.status {
            &.bad .text {
              color: red;
            }
            &.so-so .text {
              color: goldenrod;
            }
            &.ok .text {
              color: green;
            }
          }

          & > time {
            font-size: 8pt;
            margin-top: 4px;
            margin-left: -2px;
            float: left;
          }

        }

        & > div {
          font-size: 10pt;
          border: #ddd solid 1px;
          border-right: none;
          border-top: none;
          @include border-radius(0 0 5px 5px);
          padding: 5px;

          table {
            width: 100%;

            thead {
              font-family: "Segoe UI";
              font-size: 13pt;
              margin-bottom: 4px;
            }

            tbody td {
              margin: 0 20px;
              vertical-align: top;

              &.fu li, &.files li {
                min-height: 16px;
                margin-right: 1px;
                list-style-type: none;
                margin-top: 4px;
                margin-bottom: 4px;
                display: block;
              }

              &.tasks {
                width: 300px;
                li {
                  input, label {
                    vertical-align: middle;
                  }

                  .priority-btns {
                    margin-right: 10px;
                    word-spacing: 0;
                    button {
                      border:  0;
                      display: none;
                      margin: 0;
                      padding: 0;
                      background: transparent;
                      opacity: .2;
                      filter: alpha(opacity=20);

                      &:hover, &.chosen {
                        display: inline-block;
                        opacity: 1;
                        filter: alpha(opacity=100);
                      }
                    }
                    &.hover {
                      button {
                        display: inline-block;
                      }
                    }
                  }
                }

                .mock-element {
                  input[type=checkbox] {
                    opacity: .5
                  }

                  input[type=text] {
                    font-family: arial;
                    border: none;
                    background: none;
                    border-bottom: 1px solid #aaaaaa;
                    padding: 0;
                  }
                }
                .template {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
