$main-size: 10pt;
$icon-size: 11pt;
$horizontal-table-cell-padding: 10px;
$vertical-table-cell-padding: 1px;

@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';
@import "compass/css3/images";

table.edit-array {

  tbody {

    tr td {
      vertical-align: top;

      padding: {
        left: $horizontal-table-cell-padding;
        right: $horizontal-table-cell-padding;
        top: $vertical-table-cell-padding;
        bottom: $vertical-table-cell-padding;
      }

      a {
        margin: 2px;
       }

    }

  }
}

.create-new {
  margin-top: 10px;
}

.array-list-page {
  ul.array-list {
    font-size: 13pt;
    font-family: "Arial Unicode MS";

    .to-matrix {
      font-size: 8pt;
    }
  }
}

table.array-plan {
  font-family: "Array Unicode MS";
  font-size: $main-size;
  border-collapse: collapse;
  width: 100%;

  thead th {
    text-align: center;

    padding: {
      left: 4px;
      right: 4px;
    }
  }

  tbody td {
    padding: {
      left: $horizontal-table-cell-padding;
      right: $horizontal-table-cell-padding;
      top: $vertical-table-cell-padding;
      bottom: $vertical-table-cell-padding
    }

    span.icon {
      font-size: $icon-size;
      display: inline-block;
      margin-left: 3px;
    }

    &.id, &.type {
      padding: {
        left: 10px;
        right: 10px;
      }
    }

    &.type {
      text-align: center;
      font-weight: 600;
    }

    &.preferred, &.allocated {
      text-align: center;
    }

    &.people {
      padding-left: 12px;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      & > ul {
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-left: 2px;

          &:after {
            content: ', ';
          }

          &:last-child:after {
            content: '';
          }
        }
      }
    }

    &.on-luz {
      font-size: 8pt;

      .icon.win {
        color: #11AD00;
      }

      .icon.fail {
        color: #BC0000;
      }
    }

    &.reserve {
      font-size: 8pt;
      color: #29ABE2 !important;

      a {
        color: #29ABE2 !important;
      }
    }

    &.tasks {
      font-size: 8pt;
      color: #F15A24;

      & > a {
        color: inherit !important;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  tfoot td {
    &.total {
      text-align: left;
      padding-left: 5px;
    }

    &.preferred, &.allocated, &.on-luz {
      text-align: center;
      border-top: 1px solid #939396;
    }
  }

  tbody tr {

    &.empty-message {
      display: none;

      td {
        padding: 10px;
        text-align: center;
      }
    }

    table.empty &.empty-message {
      display: block;
    }

    &.inst-tamak {
      background: url(../images/gradients/tamak.png) right top repeat-y;
      @include background(linear-gradient(right, #FAC69A 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #F8A662;
      }
    }

    &.inst-cut {
      background: url(../images/gradients/cut.png) right top repeat-y;
      @include background(linear-gradient(right, #D0ED98 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #B4E25A;
      }
    }

    &.inst-lesson {
      background: url(../images/gradients/lesson.png) right top repeat-y;
      @include background(linear-gradient(right, #8FE088 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #46CC3B;
      }
    }

    &.inst-self-work {
      background: url(../images/gradients/selfex.png) right top repeat-y;
      @include background(linear-gradient(right, #D6B5FB 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #A863F7;
      }
    }

    &.inst-self-learn {
      background: url(../images/gradients/selfex.png) right top repeat-y;
      @include background(linear-gradient(right, #FD8884 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #EE5070;
      }
    }

    &.inst-targil {
      background: url(../images/gradients/selfex.png) right top repeat-y;
      @include background(linear-gradient(right, #FFA141 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #FF6600;
      }
    }

    &.inst-project {
      background: url(../images/gradients/proj.png) right top repeat-y;
      @include background(linear-gradient(right, #6ED6F5 0, rgba(255,255,255,0) 330px));

      td.type, &.selected td {
        background: #16C1EF;
      }
    }

    &.template {
      display: none;
    }

    &.instance-row {
      & td.order {
        cursor: pointer;
      }

      &.selected td.order {
        cursor: move;
      }
    }
  }


  &.empty {
    .add-new-instance-btn {
      visibility: visible;
    }

    .empty-message {
      display: table-row;
    }
  }

  .add-new-instance-btn {
    font-size: 10pt;
    margin-right: 0;
    padding-right: 17px;
    visibility: hidden;
    float: right;

    .edu-unit:hover & {
      visibility: visible;
    }
  }
}

.edu-unit {
  &.template {
    display: none;
  }
}

table.total-table {
  float: left;

  td {
    padding: 3px;
  }
}
