@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';
@import "array-exercise-schedule";

.exercise{

  margin-top: 3px;

  .top{
    background: #B5CFF7;
    padding: 5px;
    overflow: hidden;
  }


  .name{
    float: right;
  }

  .comments {
    margin-right: 10px;
    width: 250px;
    color: gray;
  }

  .btn-delete{
    float: right;
    margin-left: 20px;
  }

  .assigned{
    display: inline-block;
    width: 40px;
  }
}

.new-ex-form{
  background: #eee;
  padding: 10px;
}


.edit-header{
  background: #40AEEC;
  color: white;
  padding-right: 10px;
}

.extended-files{
  padding: 3px 25px;
}

.toggle{
  //float: left;
  margin-right: 10px;
  cursor: pointer;
  &:after{
    padding-right: 5px;
    width: 10px;
    display: inline-block;
  }
  &.closed{
    &:after{
      content:'+'
    }
  }
  &.open{
    &:after{
      content:'-'
    }

  }
}
.ico.warning{
  margin-left: 6px;
}
.icon-remove {
  margin-left: 6px;
}
.delete-form{
  display: inline;
  margin: 0;
}

.specific{
  padding-right: 10px;
}

.create-new-exercise{
  > .btn{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 0 0;
  }
}

.create-form{
  background: #EEE;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #CCC;
}

img.ico{
  width: 16px;
  display: inline-block;
  &[src='']{
    visibility: hidden;
  }
}

.page-exercise{
  text-align: center;
  min-height: 400px;
  iframe{
    width: 820px;
    height: 615px;
    margin: 10px auto;
    border: none;
  }
}

.one-line-file-uploader {
  .file-upload-button-container {
    display: inline-block;
  }
}
