@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';

.assignment-review {
  padding: 0px 30px 30px 30px;

  td {
    text-align: right;
  }

  .bottom-menu {
    text-align: center;
  }
}

#submission-review-table {
  tr#student-review-section {
    td {
      padding-bottom: 3em;
      border-bottom: 1px solid #aaa;
    }
  }
}
