@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';

.assignment {
  padding: 0px 30px 30px 30px;

  td {
    text-align: right;
    .pre-text{
      max-width: 330px;
    }
  }

  .done {
    font-size: 20px;
  }

  iframe {
    width: 100%;
    height: 500px;
    margin: 10px auto;
    border: none;
  }
}

.assignment-label {
  float: left;
}
