@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';

.room {
	&.ui-state-hover {
		background: rgba(255, 255, 255, 0.6);
	}

	margin: 12px 0px;
}

.float-box {
	float: right;
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	margin: 5px;
	padding: 2px 4px;
}

.small-input {
  width: 50px;
}
.small-group {
	cursor: move;

	&.ui-state-hover {
		background: rgba(255, 255, 255, 0.6);
	}

	.member {
		cursor: crosshair;
	}
}

.phase {
	padding: 5px 0;

	.name {
		text-decoration: underline;
	}

	.description {
		font-weight: normal;
		padding-right: 10px; 
	}
}

.pages-container {
    overflow: hidden;

    .page {
	    width: 100%;
	    -webkit-transition: 0.8s all ease-in-out;

	    &.focus {
		    margin-left: 0 !important;
		    margin-right: 0 !important;
		}

		&:nth-child(1) {
		    float: right;
		    margin-right: -110%;
		}

		&:nth-child(2) {
		    float: left;
		    margin-left: -110%;
		}

		table.cuts, table.phases {
			width: 100%;

			.phase {
				text-align: center;
			}
		}

		.cut-time-picker input {
			width: 45px;
		}
	}
}
