
@import 'compass/css3';

.dialog {
  display: none;
  background-color: white;
  border: 2px solid #4FB0D8;
  @include border-radius(10px);
  padding: 10px 15px;

  header {
    font-family: "Arial Unicode MS";
    font-size: 19pt;
    font-weight: 100;
    margin: 3px 0 16px; // top, right-left, bottom
  }

  p {
    margin: 5px 0;
  }

  input[type=text], input[type=password] {
    border: none;
    border-bottom: 1px solid #666666;
    font-family: inherit;
    font-size: 12pt;

    &.medium {
      width: 125px;
    }
    &.large {
      width: 200px;
    }
  }

  .note {
    font-size: 7.5pt;
    padding: 0 5px;
  }

  section.buttons {
    float: left;
    margin-top: 6px;
  }

  ul.radios {
    margin: 0;
    padding: 5px 0;

    & > li {
      padding: 8px 0;

      input[type=radio] {
        vertical-align: text-top;
      }

      .note {
        padding: 0 5px;
      }
    }
  }
}

#create-new-array-dialog, #create-new-group-dialog {
  max-width: 350px;
}
