.ischool-dropdown {
  width: inherit;
  height: inherit;
  background: inherit;
  border: none;
  font: inherit;
  margin: inherit;
}

.ischool-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: inherit;
}
