@import "exercise-status-colors";

.btn, .btn:hover{

	&.in_progress{
		background-color: $in_progress;
		background-image: none;
		color: #ffffff;
	}

	&.done{
		background-color: $done;
		background-image: none;
		color: #ffffff;
	}

	&.submitted{
		background-color: $submitted;
		background-image: none;
		color: #58605e;
	}

	&.resend{
		background-color: $resend;
		background-image: none;
		color: #ffffff;
	}
}

.btn.active{

	&.in_progress{
		background-color: #ce2626;
		background-image: none;
		color: #ffffff;
	}

	&.done{
		background-color: #2b890f;
		background-image: none;
		color: #ffffff;
	}

	&.submitted{
		background-color: #dddd1e;
		background-image: none;
		color: #58605e;
	}

	&.resend{
		background-color: #e19711;
		background-image: none;
		color: #ffffff;
	}
}


.in_progress{
	background-color: $in_progress;
	color: #ffffff;
}

.done{
	background-color: $done;
	color: #ffffff;
}

.submitted{
	background-color: $submitted;
	color: #58605e;
}

.resend{
	background-color: $resend;
	color: #ffffff;
}
