@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';
@import "compass/css3/transform";
@import "compass/css3/gradient";
@import 'exercise-status-colors';

.matrix-section {
  overflow: hidden;

  .matrix{

    $line-height: 20px;
    $row-padding-height: 3px;
    $filler-height: $line-height + 2 * $row-padding-height;
    $member-name-margin-bottom: 7px;
    $mini-col-padding-top-bottom: 3px;

    line-height: $line-height;

    .open-until-here {
      $border-color: #EE5070;
      margin-bottom:2px;
      -webkit-box-shadow: 0px 2px 2px $border-color;
      -moz-box-shadow: 0px 2px 2px $border-color;
      box-shadow: 0px 2px 2px $border-color;
    }

    .first-col-container {
      min-width: 140px;
      max-width: 140px;

      // This transition is hacky since transitions
      // from width: XX px; to width: auto; are not
      // supported in css3.
      // The differences in transition times are to
      // account for the animation being calculated based
      // as if the element were resized to full-width.
      // See http://n12v.com/css-transition-to-from-auto/
      // for more details.
      transition-timing-function: ease;

      // Transition to longer width
      &:hover {
        max-width: 100%;
        transition-duration: 2s;
        transition-delay: 1s;
      }
      // Transition back to shorter width
      transition-duration: 1s;

      float: right;

      .exercise{
        background: #e2f6ff;
        height: $filler-height;
      }

      .students .first-col {
        height: $member-name-margin-bottom + 2 * $line-height + 2 * $mini-col-padding-top-bottom;
        padding: 0;
      }

      .first-col{
        padding: $row-padding-height 0;
        background: rgba(255, 255, 255, 0.2);
        overflow: hidden;

        &.highlight {
          background: rgba(255, 128, 128, 0.6);
        }

        &.unit-name {
          font-size: 1.3em;
          // We don't need the first column to be resized
          // if the unit name is long so set the width to 0
          // and allow it to overflow
          width: 0px;
          white-space: nowrap;
        }

        select.group {
          width: 135px;
        }

        .instance-name {
          padding-right: 3px;
        }

        a {
          padding-right: 10px;
        }
      }
    }

    .instances-container {
      overflow-x: auto;

      .instance-name-filler {
        @include background(linear-gradient(right, #A4CED1 0, rgba(255,255,255,0) 100%));
      }

      .instance {
        background: none;
      }
    }

    .row-filler {
      height: $filler-height;
    }

    .students, .instance, .exercise {
      white-space: nowrap;
      clear: both;
    }

    .assignments {
      display: inline-block;
      background: #e2f6ff;
    }

    .member-name{
      font-size: 10px;
      margin-bottom: $member-name-margin-bottom;
      @include transform(rotate(-45deg));

      &.highlight a {
        background: rgba(255, 128, 128, 0.6);
      }
    }

    .mini-col{
      display: inline-block;
      width:  40px;
      padding: $mini-col-padding-top-bottom 0;
      text-align: center;
      &:nth-child(odd){
        background: rgba(255, 255, 255, 0.4);
      }

      &.in_progress {
        background-color: $in_progress;
        &:nth-child(odd) {
          background-color: #ff0000;
        }
        a {
          color: white;
        }
      }

      &.submitted {
        background-color: $submitted;
        &:nth-child(odd) {
          background-color: #ffff00;
        }
      }

      &.checking {
        background-color: $checking;
        &:nth-child(odd) {
          background-color: #D805D8;
        }
        a {
          color: white;
        }
      }

      &.resend {
        background-color: $resend;
        &:nth-child(odd) {
          background-color: #FFA500;
        }
        a {
          color: white;
        }
      }

      &.done {
        background-color: $done;
        background-image: url(../images/patterns/line-pattern.png);
        &:nth-child(odd) {
          background-color: #36BE14;
        }
        a {
          color: white;
        }
      }

      .focused {
        margin-top: -2px;
        margin-bottom: -2px;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
      }
    }
  }
}
.instance{
  background: #a4ced1;
}

.mega-matrix {
    .checkbox-label  {
        display: inline-block;
        background-color: #c4e7ff;
        border-radius: 3px;
        padding: 3px;
        margin: 3px;
        cursor: pointer;
    }

    .checked-checkbox-label  {
        background-color: #a6d8fb;
        font-weight: bold;
    }

    .checkbox-label input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }

    h3 {
        line-height: 0px;
    }

    .minimatrix-container {
        display: inline;
    }

    .minimatrix {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        background-color: rgba(69, 167, 237, 0.2);
        border-radius: 5px;
        width: 300px;
    }
}
