.ngTagsInput *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ngTagsInput {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    margin-top: 5px;
    padding: 2px 2px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    font-size: 14px;
}

.ngTagsInput ul {
    margin: 0px;
    padding: 0px;
    overflow: visible;
    list-style-type: none;
}

.ngTagsInput li {
    margin: 2px;
    padding-right: 4px;
    display: inline-block;
    border-radius: 3px;
    height: 21px;
    line-height: 1.3;
    border: 1px solid rgb(172, 172, 172);
    float: right;
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */

}

.ngTagsInput li.selected {
    background: rgb(254,187,187); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,187,187,1)), color-stop(45%,rgba(254,144,144,1)), color-stop(100%,rgba(255,92,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); /* W3C */
}

.ngTagsInput span {
    font: 13px Arial, sans-serif;
}

.ngTagsInput button {
    margin: 0px;
    border: none;
    background: none;
    color: #585858; /* the X button color */
    cursor: pointer;
    font: bold 16px Arial, sans-serif;
    vertical-align: middle;
}

.ngTagsInput button:active {
    color: #ff0000;
}

.ngTagsInput input {
    border: 0px;
    outline: none;
    margin: 2px;
    padding: 0px 0px 0px 4px;
    height: 21px;
    float: right;
    font: 13px Arial, sans-serif;
}

.ngTagsInput input::-ms-clear {
    display: none;
}
