.role-filter {
    font-weight: bold;
    color: #0088cc;
}

table.people {
  & th {
    vertical-align: middle;
  }

  & td {
    vertical-align: middle;
  }

  & tr.person {
    & td.actions {
      padding: 0;
      visibility: hidden;
    }

    &:hover {
      & td.actions {
        visibility: visible;
      }
    }
  }

  .add-new-person-btn {
    font-size: 10pt;
    margin-right: 0;
    padding-right: 17px;
    visibility: hidden;
    float: right;
  }

  tfoot td {
    &.total {
      padding-left: 5px;
    }
  }

  &:hover {
    .add-new-person-btn {
      visibility: visible;
    }
  }
}
