@import "helpers";

.box.phones > table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 3px 0 3px 1px;
  }

  td.type {
    text-align: right;
    color: black;
    text-decoration: none;
    display: inline-block;
    background: transparent url(../images/phone.png) no-repeat right center;
    padding-right: 19px;
  }

  td.phone {
    text-align: left;
  }
}

span.def, span.val {
  display: inline-block;
}

span.def, .role .extra-info .def  {
  font-weight: bold;
  margin-left: 3px;
}

span.val, .role .extra-info .val {
  min-width: 60px;
  padding-left: 10px;
}

aside.person-main-details {
  float: left;
  width: 200px;

  span.def, span.val {
    display: inline-block;
  }

  ul { margin-top: 1px; }

  li {
    padding: 3px 0;
    font-size: 10.5pt;

    span {
      vertical-align: middle;
      min-height: 16px;
    }

    span.type {
      &.gender-male, &.gender-female {
        padding-right: 18px;
        background: none center right no-repeat;
      }

      &.gender-male {
        background-image: url(../images/male.png);
      }
      &.gender-female {
        background-image: url(../images/female.png);
      }
    }
  }
}

ul.roles {
  margin-left: 210px;

  .role {
    header > h3 {
      font-family: "Segoe UI";
      font-size: 20pt;
      font-weight: 100;
      margin: 0;
    }

    & > div.track {
      font-size: 10pt;
      margin-top: 2px;
    }

    & .extra-info {
      margin-top: 7px;

      & > div {
        display: inline-block;
        vertical-align: top;


        h5 {
          font-size: 11pt;
          margin: 15px 0 3px;
        }

        ul > li {
          font-size: 11pt;
        }

        &.arrays {
          width: 180px;
        }

        &.student-images {
          width: 260px;

          ul > li {
            display: inline-block;
            width: 64px;
            height: 64px;
            position: relative;
            background: #cecece;
            text-align: center;
            margin: 7px 8px;

            a {
              display: block;
            }

            img {
              max-width: 64px;
              max-height: 64px;
            }

            span {
              position: relative;
              bottom: 0;
              left: 0;
              padding: 1px 3px;
              margin: 0 1px 1px;
              font-size: 10pt;
              text-align: left;
              color: black;
              background-color: transparent;
            }
          }
        }
      }

      li.lined {
        line-height: 20px !important;
        background: url(../images/lined.png);
        min-height: 45px;

        .val {
          min-width: 150px;
          line-height: 20px !important;
        }
      }

      .def, .val {
        font-size: 10.5pt;
        line-height: 23px;
        display: inline-block;
        min-height: 16px;

        ul, li {
          display: inline-block;
        }

        li {
          margin: 0 3px;

          &:after { content: ', '; }
          &:last-child:after { content: ''; }
        }
      }
    }
  }
}

ul.groups-list {
  li {
    list-style: disc;
    margin: 0 5px;
  }
  .label {
    text-decoration: none;
    margin: 0 2px;
    &:hover {
      color: #dddddd
    }
  }
}

#score-visualization-header {
  height: 4em;

  h4 {
    display: inline;
  }
}
