.points {

  .more-points {
    text-align: center;
  }

  .point {
    .text .english-text {
      direction: ltr;
      text-align: left;
    }

    .bathroom .warning {
      background-color: orangered !important;
    }

    .actions .point-action {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .point-reply {
    background-color: white;
    padding: 1em;
    border-radius: 5px;

    .message {
      margin-bottom: 0.5em;
      border-right: 3px solid #0088cc;
      padding-right: 0.5em;

      &.from-student {
        border-right-color: #ccc;
      }

      .message-text {
        white-space: pre-line;
        overflow-x: scroll;
        max-width: 100%;
      }

      .date {
        color: #4f4f4f;
        font-size: 0.8em;
      }
    }

    textarea {
      width: 90%;
      display: block;
      margin-bottom: 1em;
      height: 4em;
    }
  }

  .staff-point {
    margin-top: 1em;

    select {
      margin: 0;
    }

    .send-point {
      margin-top: 0.5em;
    }

    .student-list a {
      margin: 5px 0 0 5px;
    }
  }
}

.points-history{
  .message{
    background: #eee;
    padding: 5px;
    border-bottom: 2px solid #006dcc;
    position: relative;
    .who{
      font-weight: bold;
    }
    .when{
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}

.prompt.modal{
  .close{
    float: left;
  }
  textarea{
    width: 100%;
    box-sizing: border-box;
  }
}

.student-points {
  .point-actions {
    background-color: #ddd;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    padding: 0 0.5em;

    .room-select {
      text-align: left;

      select {
        margin: 0;
      }
    }
  }

  .points-list {
    .point {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0.5em;
      cursor: pointer;

      &:hover {
        background: #eee;
      }

      &.selected {
        background: #0088cc;
        color: white;
      }

      &.unread {
        background: yellow
      }

      .text {
        display: inline-block;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 1.5em;

        &.english-text {
          direction: ltr;
          text-align: left;
        }
      }
    }
  }

  .selected-point {
    .message {
      border-right: 3px solid #0088cc;
      margin-top: 0.5em;
      padding-right: 0.5em;

      &.from-student {
        border-right-color: #ccc;
      }

      .text {
        overflow-x: auto;
        max-width: 100%;
      }
    }

    .selected-reply {
      textarea {
        width: 80%;
        height: 5em;
      }
    }
  }

  .new-point {
    select {
      margin-bottom: 0.5em;
    }

    textarea {
      width: 100%;
      height: 10em;
    }
  }
}

.student-points-notifier {
  height: 2.2em;
}

.all-points {
  .point {
    background-color: rgba(197, 204, 255, 0.45);
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(209, 86, 86, 0.45);

    .who {
      font-weight: bold;
    }

    .message {
      border-top: 1px solid rgba(209, 86, 86, 0.45);
      margin: 3px;
    }
  }
}
