@import "helpers";
@import "compass/css3/gradient";
@import "compass/css3/transition";

html { min-height: 100%; }
body {
  direction: rtl;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial Unicode MS" !important;
  background: #e1e5e9;
  background-attachment: fixed;
  background: url("../images/back.jpg");
}

header {
  display: block;
}

#center-column {
  width: 950px;
  margin: 0 auto;
  min-height: 100%;
  background: transparent;
}

ol, ul {
  list-style: none;
}

  embed {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
}

body select {
  padding: 4px;
}

aside select {
  width: auto;
}

select.input-medium {
  width: 164px;
}

#page-header {
  width: 950px;
  height: 250px;
  margin: 0;
  margin-top: 30px;
  display: block;
  position: relative;

  #floating-page-header {
    height: 250px;
    width: 950px;
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .gradient{
    //background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
    @include background-image(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)));
    width: 100%;
    height: 0%;
    bottom: 0;
    position: absolute;
  }

  div.content {
    padding: 5px 10px;
    font-size: 10pt;
    float: left;
    max-width: 25%;
    @include background-opacity(#FFFFFF, 0.7);

    p {
      margin: 2px 0;
    }

    .log-out {
      display: inline-block;
      font-size: 7pt;
      margin-right: 3px;
    }

    ul.buttons {
      margin: 0;
      margin-left: 4px;

      & > li {
        display: inline-block;
        margin: 0;
        padding: 0;

        button {
          height: 24px;
          width: 24px;
          margin: 5px 2px;
          border: none;
        }
      }
    }
  }
}

.course-link.icon {
  background: none center right no-repeat;
  padding-right: 24px;
  min-height: 20px;
}

#page-title {
  height: 40px;
  margin-right: 0px;
  color: #3192b3;
  padding-top: 50px;

  & > h4, & > h1 {
    & a {
      color: #3192d3;
      text-decoration: none;

      &:hover { text-decoration: underline }
    }
    display: inline;
    font-family: "Arial Unicode MS";
    font-weight: 200;
    margin: 0;
  }

  & > h4 {
    font-size: 14pt;
    color: #3192d3;
  }

  & > h1 {
    font-size: 14pt;
    color: #3192d3;
  }
}

$page-border-color: #326384;

.top-navigation-bar {
  background-color: #e2feb1;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 41px;
  border-bottom: 1px;
  border-color: white;
}

.top-navigation-bar .right {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  display: inline-block;
}

.top-navigation-bar .left {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.staff-navigation-bar {
	text-align: center;
}

.content-area {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  & i#sidebar-toggler {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.sidebar .box, .headered-box {
  font-size: 9pt;
  margin-top: 10px;

  & > header {
    display: block;
    border-bottom: 1px solid $page-border-color;

    padding-bottom: 3px;
    margin-bottom: 4px;

    & > h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-family: "Arial Unicode MS";
      font-weight: 200;
      font-size: 14pt;
      margin-right: -5px;
    }

    & > .extra-details {
      float: left;
      padding-top: 7px;
    }
  }
}

.sidebar {
  width: 225px;
  float: right;
  top: 0;
  position: absolute;

  @include transition(200ms all);

  & > .leader {
    font-family: "Arial Unicode MS";
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    margin: 5px 5px 10px 5px;
  }

  & > .tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      @include background-opacity(#fff, 0.6);
      display: block;
      border: 1px solid $page-border-color;
      border-radius: 0 7px 7px 0;
      margin: 10px 8px 10px -1px;
      padding: 1px 13px 1px 0;
      font-family: "Arial Unicode MS";
      font-size: 11pt;
      opacity: 0.7;
      cursor: pointer;

      &.active {
        opacity: 1;
        border-left: 1px solid white;
        cursor: auto;
      }

      &.separated {
        margin-top: 60px;
      }

      &:hover {
        opacity: 1;
      }

      &.active > a:hover .tack {
        visibility: visible;
      }

      & > a {
        color: black;
        text-decoration: none;
        display: block;

        & > .tack {
          height: 20px;
          width: 20px;
          background: transparent url(../images/tack.png) no-repeat center center;
          border-style: none;
          float: left;
          visibility: hidden;
          cursor: pointer;

          &:hover {
            background-image: url(../images/tack-over.png);
          }
        }
      }
    }
  }

  .box {
    margin: 30px 17px 30px 17px;

    &.teachers {
      & > table {
        width: 100%;
        border-collapse: collapse;

        td {
          padding: 3px 0 3px 1px;
        }

        td.person {
          text-align: right;

          & > a {
            color: black;
            text-decoration: none;
            display: inline-block;
            background: transparent url(../images/teacher.png) no-repeat right center;
            padding-right: 18px;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        td.phone {
          text-align: left;
        }
      }
    }

    &.docs {
      & > ul {
        margin: 0;
        padding: 0;
        margin-top: 6px;

        & > li {
          margin-right: 1px;
          list-style-type: none;
          margin-top: 8px;
          margin-bottom: 8px;
          padding-left: 5px;

          & > a {
            display: inline-block;
            padding-right: 22px;
            min-height: 16px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.page-main {
  @include background-opacity(#fff, 0.6);
  min-height: 100%;
  position: relative;
  padding: 20px;

  .with-sidebar & {
    margin-right: 225px;
  }

  & > hr.break {
    clear: both;
    border: none;
    margin: 0;
  }

  .h4-tag {
    font-weight: bold;
    font-size: 18px;
    margin-left: 3px
  }

  & > header, & > section > header {
    h1, nav {
      display: inline-block;
    }

    h1 {
      font-family: "Arial Unicode MS";
      font-size: 25pt;
      font-weight: 100;
      margin: 0;
    }
    nav {
      margin-right: 35px;
    }
  }

  article {
    h2 {
      font-family: "Arial Unicode MS";
      font-size: 18pt;
      font-weight: 100;
      margin: {
        top: 20px;
        bottom: 5px;
        right: 0;
      }
      display: inline-block; // so exiting from edit mode will be easier
      color: #A6A6A6;
    }
  }
}

.aligned-fieldset p {
    display: table-row;

    label {
      display: table-cell;
      padding-left: 1em;
    }
}

.calendars {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -45px;
  left: 10px;
  list-style-type: none;
  font-size: 8pt;

  li.calendar {

    display: inline-block;
    margin-left: 3px;
    margin-right: 0px;

    table {
      display: inline-block;
      vertical-align: top;
      border-collapse: separate;

      td {
        height: 11px;
        padding: 1px 4px;
        margin: 0;
      }

      &.body {

        background: #fff;
        border: #c1c1c1 1px solid;
        border-left: #c1c1c1 1px solid;
        border-top: #c1c1c1 1px solid;
        border-bottom: #c1c1c1 1px solid;
        border-right: #c1c1c1 1px solid;

        td, th {
          text-align: center;
          margin: 5px;
        }

        td.dimmed {
          color: #c1c1c1;
        }

        td.marked {
          background: url(../images/circle.png) 3px 0 no-repeat;
        }

        td.dimmed.marked {
          background-image: url(../images/circle-faded.png);
        }

        th {
          background: #d2d2d2;
        }

        th.title {
          background: #3f3f3f;
          color: #fff;
        }
      }

      &.weeknums {
        margin-top: 19px;
        margin-left: 3px;
        padding-left: 0;
        color: #999;

        td {
          margin-left: 0;
          padding-left: 0;
          text-align: left;
          font-weight: 500;
        }
        thead td {
          padding-left: 1px;
        }
        tbody td > div {
          display: inline-block;
          margin-left: 0;
          padding: 0 1px;
          @include background-opacity(#fff, 0.7);
        }
      }
    }
  }
}

.editable {
  &:hover {
    text-shadow: 0px 0px 3px #ff8888;
  }

  input.editable-input {
    border: 0;
    border-bottom: 1px inset dimgray;
    background-color: transparent;
    box-shadow: none;
  }

  select {
    box-shadow: none;
  }
}


ul.line-separated {
  & > li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #777777;

    &:last-child {
      border-left: 0;
    }
  }
}


button.add-new-btn {
  background: transparent url(../images/add.png) no-repeat right center;
  border: none;
  font-family: "Arial Unicode MS";
  font-size: 10.5pt;
  margin: 0 10px;
  padding-right: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.file-upload-button-container {
  width: 100px;
  height: 24px;
  position: relative;
  overflow: hidden;

  input[type=file] {
    direction: ltr;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
  }

  button {
    width: 100%;
    border: none;
    background: url(../images/file-types/word-add.png) no-repeat right center;
    font-family: inherit;
    padding: {
      left: 3px;
      right: 19px;
    }
  }
}

div.margin-right-btn{
  margin-right: 95px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.dropdown-menu-right {
  right: 0;
}

.set-mode {
  margin:0 0.1em;
}


ng-actions > ul, [ng-actions] > ul {
  margin: 1px;

  &.ltr {
    direction: ltr;
  }

  & > li {
    display: inline-block;

    & > button {
      background: none no-repeat center center;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 0;
      vertical-align: middle;
      margin: 2px;
      border: none;
    }

    &.destroy > button {
      background-image: url(../images/icons/fire.png);
    }
  }
}

.btn-navbar-link-ischool {
  color: #777777;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
   border-radius: 0;
}

.btn-navbar-link-ischool:hover {
  color:black;
  text-decoration: blink;
  background-color: transparent;
}

.divider-ischool {
  margin: 0 20px;
  width: 100px;
  font-family: Arial;
}

.transparent-ischool-select {
  background: transparent;
  color: #777777;
  border: 0px;
  font-size: 14px;
  font-family: Arial;
}

.navbar-green-gradient {
   min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #e2feb1, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  border-top: 0;
}

.transparent-textarea {
  background-color: rgba(255, 255, 255, 0);
}

.hashtag-textarea {
  width: 220px;
  height: 350px;
  overflow: hidden;
  background-color: rbga(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-right: 2px;
}

textarea {
  min-height: 80px;
  min-width: 480px;
}

.pre-text {
    unicode-bidi: embed;
    white-space: pre-line;
}

@mixin file-type($ext, $image) {
  &.#{$ext} {
    background-image: url(../images/file-types/#{$image}.png);
  }
};

a.file-type {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.clickable {
  cursor: pointer;
}

.unread_review {
  font-weight: bolder;
}

.navbar .nav > li label {
  padding-top: 5px;
  float: left;
}

#top-bar {
  position: fixed;
  background: #002a80;
  color: #ebebeb;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  z-index: 10;
  top: 0px;
}

#welcome-box {
  float: right;
}
#omni-search {
  float: left;
  padding-left: 10px;
  input[type=text] {
    margin-bottom: 0;
    width: 350px;
  }
  .dropdown-menu {
    width: 350px;
  }
}

.file-type {
  display: inline-block;
  padding-right: 18px;
  background: url(../images/file-types/text.png) no-repeat right top;
  @include file-type(doc, word-old);
  @include file-type(docm, word-old);
  @include file-type(doct, word-old);
  @include file-type(docx, word);
  @include file-type(dotx, word);
  @include file-type(xlsx, excel);
  @include file-type(xlsm, excel);
  @include file-type(xls, excel);
  @include file-type(ppt, powerpnt);
  @include file-type(pptx, powerpnt);
  @include file-type(pot, powerpnt);
  @include file-type(potx, powerpnt);
  @include file-type(pps, powerpnt);
  @include file-type(ppsx, powerpnt);
  @include file-type(avi, movie);
  @include file-type(wmv, movie);
  @include file-type(mp4, movie);
  @include file-type(mp3, music);
  @include file-type(wma, music);
  @include file-type(wav, music);
  @include file-type(bmp, image);
  @include file-type(gif, image);
  @include file-type(jpg, image);
  @include file-type(jpeg, image);
  @include file-type(png, image);
  @include file-type(cc, cc);
  @include file-type(cpp, cc);
  @include file-type(c, c);
  @include file-type(exe, program);
  @include file-type(h, h);
  @include file-type(sh, bash-script);
  @include file-type(ini, shell-script);
  @include file-type(xml, xml);
  @include file-type(html, xml);
  @include file-type(js, js);
  @include file-type(xsl, xml);
  @include file-type(cap, cap);
  @include file-type(pcap, cap);
  @include file-type(pdf, pdf);
  @include file-type(ps, pdf);
  @include file-type(zip, zip);
  @include file-type(rar, zip);
  @include file-type(tar, zip);
  @include file-type(gz, zip);
  @include file-type(bz2, zip);
  @include file-type(py, py);
  @include file-type(chm, chm);

  &.template {
    @include file-type(docx, word-add);
    @include file-type(xlsx, excel-add);
    @include file-type(pptx, powerpnt-add);
  }
}

.floatcontainer, .fc {
  display: block;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
  }
}

.gender-male-icon, .gender-female-icon {
  height: 18px;
  width: 18px;
  display: inline-block;
  background: none center right no-repeat;
}

.gender-male-icon {
  background-image: url(../images/male.png);
}
.gender-female-icon {
  background-image: url(../images/female.png);
}

.show-on-hover {
  // Use opacity and not visiblity because of
  // bug in chrome where invisible elements can't
  // be hovered over
  opacity: 0;
}

*:hover > .show-on-hover {
  opacity: 1;
}
