@import "../vendor-css/bootstrap.css";
@import 'bootstrap-rtl';
@import "compass/css3/transform";


.person_link
{
  color: green;
}

.hashtag_link
{
  color: blue;
}

.filterbox {
  min-width: 0;
  min-height: 0;
  width: 100%;
}

.twitterbox {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.twitter-filterbox-wrapper {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
